openapi: 3.0.0
servers:
  - url: https://vicav.acdh.oeaw.ac.at
    description: "current ACDH-CH prod server"
  - url: https://vicav.acdh-ch-dev.oeaw.ac.at/vicav
    description: "current ACDH-CH dev server"
  # Added by API Auto Mocking Plugin
  - description: SwaggerHub API Auto Mocking
    url: https://virtserver.swaggerhub.com/ctot-nondef/Vicav/1.0.0
  - url: http://localhost:8984/vicav
    description: "local development"
info:
  description: This is the currently implemented vicav API
  version: "1.0.0"
  title: Current Vicav API
  contact:
    email: christoph.hoffmann@oeaw.ac.at
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
tags:
  - name: noauth
    description: Operations available without authentication
paths:
  /project:
    get:
      description: Get info about the project, menus and open panels/windows
      tags:
        - noauth
      summary: gets basic project configuration
      operationId: getProject
      responses:
        '200':
          description: an xml with wrapped html contained
          content:
            application/json:
              schema:
                type: object
              examples:
                project_config_JSON:
                  summary: the project configuration
                  value: {
                    "projectConfig": {
                      "title": "VICAV3.0 - Vienna Corpus of Arabic Varieties",
                      "logo": {
                        "img": "images\/vicav_logo.svg"
                      },
                      "param": [
                        ".*",
                        "geo"
                      ],
                      "panel": [
                        {
                          "type": "text",
                          "target": "li_vicavMission",
                          "title": "MISSION"
                        },
                        {
                          "type": "text",
                          "target": "li_vicavNews",
                          "title": "NEWS"
                        }
                      ],
                      "menu": {
                        "main": [
                          {
                            "id": "dropdown00",
                            "title": "Project",
                            "item": [
                              {
                                "id": "li_vicavMission",
                                "title": "Mission",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavNews",
                                "title": "News",
                                "type": "item"
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "li_vicavTypesOfText",
                                "title": "Types of Text\/Data",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavContributors",
                                "title": "Contributors",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavLinguistics",
                                "title": "Linguistics",
                                "type": "item"
                              }
                            ],
                            "type": "dropdown"
                          },
                          {
                            "id": "dropdown01",
                            "title": "Bibliographies",
                            "item": [
                              {
                                "id": "li_vicavExplanationBibliography",
                                "title": "Explanation",
                                "type": "item"
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "navBiblGeoMarkers",
                                "title": "All Bibl. Locations on Map",
                                "type": "item"
                              },
                              {
                                "id": "navBiblRegMarkers",
                                "title": "All Bibl. Regions on Map",
                                "type": "item"
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "navDictGeoRegMarkers",
                                "title": "All Dictionaries in Bibl. on Map",
                                "type": "item"
                              },
                              {
                                "id": "navTextbookGeoRegMarkers",
                                "title": "All Textbooks in Bibl. on Map",
                                "type": "item"
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "liBiblNewQuery",
                                "title": "Query Bibliography",
                                "type": "item"
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "li_vicavContributeBibliography",
                                "title": "Contribute to the Bibliography",
                                "type": "item"
                              }
                            ],
                            "type": "dropdown"
                          },
                          {
                            "id": "dropdown02",
                            "title": "Profiles",
                            "item": [
                              {
                                "id": "li_vicavExplanationProfiles",
                                "title": "Explanation + List",
                                "type": "item"
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "navProfilesGeoRegMarkers",
                                "title": "Show All Profiles on Map",
                                "type": "item"
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "li_vicavContributeProfile",
                                "title": "Contribute a Profile",
                                "type": "item"
                              }
                            ],
                            "type": "dropdown"
                          },
                          {
                            "id": "dropdown03",
                            "title": "Feature Lists",
                            "item": [
                              {
                                "id": "li_vicavExplanationFeatures",
                                "title": "Explanation",
                                "type": "item"
                              },
                              {
                                "id": "liVicavCrossFeatureQuery",
                                "title": "Cross-examine the VICAV Feature Lists",
                                "type": "item"
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "navFeaturesGeoRegMarkers",
                                "title": "Show All Feature Lists on Map",
                                "type": "item"
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "li_vicavContributeFeature",
                                "title": "Contribute a Feature List",
                                "type": "item"
                              }
                            ],
                            "type": "dropdown"
                          },
                          {
                            "id": "dropdown04",
                            "title": "Samples",
                            "item": [
                              {
                                "id": "li_vicavExplanationSamples",
                                "title": "Explanation",
                                "type": "item"
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "navSamplesGeoRegMarkers",
                                "title": "Show All Samples on Map",
                                "type": "item"
                              },
                              {
                                "id": "liExploreSamples",
                                "title": "Compare Locations",
                                "type": "item"
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "li_vicavContributeSampleText",
                                "title": "Contribute a Sample Text",
                                "type": "item"
                              }
                            ],
                            "type": "dropdown"
                          },
                          {
                            "id": "dropdown05",
                            "title": "Texts",
                            "item": [
                              {
                                "id": "li_vicavExplanationCorpusTexts",
                                "title": "Explanation and Overview",
                                "type": "item"
                              }
                            ],
                            "type": "dropdown"
                          },
                          {
                            "id": "dropdown06",
                            "title": "Dictionaries",
                            "item": [
                              {
                                "id": "navDictGeoRegMarkers",
                                "title": "All Dictionaries in Bibl. on Map",
                                "type": "item"
                              },
                              {
                                "id": "navVicavDictMarkers",
                                "title": "All VICAV Dictionaries on Map",
                                "type": "item"
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "liVicavCrossDictQuery",
                                "title": "Query the VICAV Dictionaries",
                                "type": "item"
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "liVicavDict_Tunis",
                                "title": "TUNICO Dictionary",
                                "type": "item"
                              },
                              {
                                "id": "liVicavDict_Damascus",
                                "title": "Damascus Dictionary",
                                "type": "item"
                              },
                              {
                                "id": "liVicavDict_Cairo",
                                "title": "Cairo Dictionary",
                                "type": "item"
                              },
                              {
                                "id": "liVicavDict_Baghdad",
                                "title": "Baghdad Dictionary",
                                "type": "item"
                              },
                              {
                                "id": "liVicavDict_MSA",
                                "title": "MSA Dictionary",
                                "type": "item"
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "li_vicavDictionariesTechnicalities",
                                "title": "Technicalities",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavContributeDictionary",
                                "title": "Contribute a Dictionary\/Glossary",
                                "type": "item"
                              }
                            ],
                            "type": "dropdown"
                          },
                          {
                            "id": "dropdown07",
                            "title": "Tools & Technology",
                            "item": [
                              {
                                "id": "li_vicavDictionaryEncoding",
                                "title": "Dictionary Encoding",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavVLE",
                                "title": "Dictionary Editor (VLE)",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavArabicTools",
                                "title": "Arabic Research Tools",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavOverview_corpora_spoken",
                                "title": "┬á┬á┬á┬á┬á┬áCorpora (Spoken Varieties)",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavOverview_corpora_msa",
                                "title": "┬á┬á┬á┬á┬á┬áCorpora (MSA)",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavOverview_special_corpora",
                                "title": "┬á┬á┬á┬á┬á┬áSpecial Corpora",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavOverview_corpora_historical_varieties",
                                "title": "┬á┬á┬á┬á┬á┬áCorpora (Historical Varieties)",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavOverview_dictionaries",
                                "title": "┬á┬á┬á┬á┬á┬áDictionaries",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavOverview_nlp",
                                "title": "┬á┬á┬á┬á┬á┬áLanguage Processing Tools",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavOverview_otherStuff",
                                "title": "┬á┬á┬á┬á┬á┬áOther Websites & Projects",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavLearning",
                                "title": "Learning Materials",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavLearning_tb_damascus",
                                "title": "┬á┬á┬á┬á┬á┬áTextbook Syrian Arabic (Sound files)",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavLearningSmartphone",
                                "title": "┬á┬á┬á┬á┬á┬áVocabularies on Smartphones",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavLearningPrograms",
                                "title": "┬á┬á┬á┬á┬á┬áAvailable Programs",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavLearningData",
                                "title": "┬á┬á┬á┬á┬á┬áAvailable Data",
                                "type": "item"
                              },
                              {
                                "id": "li_vicavKeyboards",
                                "title": "Keyboard Layouts",
                                "type": "item"
                              }
                            ],
                            "type": "dropdown"
                          }
                        ],
                        "subnav": [
                          {
                            "id": "subNavBiblGeoMarkers",
                            "class": "active",
                            "title": "Bibl. Locations",
                            "type": "item"
                          },
                          {
                            "id": "subNavBiblRegMarkers",
                            "title": "Bibl. Regions",
                            "type": "item"
                          },
                          {
                            "id": "subNavDictGeoRegMarkers",
                            "title": "Bibl. (Dictionaries)",
                            "type": "item"
                          },
                          {
                            "id": "subNavTextbookGeoRegMarkers",
                            "title": "Bibl. (Textbooks)",
                            "type": "item"
                          },
                          {
                            "id": "subNavProfilesGeoRegMarkers",
                            "title": "Profiles",
                            "type": "item"
                          },
                          {
                            "id": "subNavFeaturesGeoRegMarkers",
                            "title": "Features",
                            "type": "item"
                          },
                          {
                            "id": "subNavSamplesGeoRegMarkers",
                            "title": "Samples",
                            "type": "item"
                          },
                          {
                            "id": "subNavVicavDictMarkers",
                            "title": "VICAV Dictionaries",
                            "type": "item"
                          }
                        ]
                      }
                    }
                  }
            application/xml:
              schema:
                type: string
                xml:
                  name: project
                  wrapped: false
              examples:
                project_config_XML_and_rendered_XHTML:
                  summary: the project configuration
                  value: >
                    <project>
                      <config>
                        <projectConfig xml:space="preserve" id="vicav_config_vicav">
                      <title>VICAV3.0 - Vienna Corpus of Arabic Varieties</title>
                      <logo><img src="images/vicav_logo.svg"/></logo>
                      <frontpage method="geo">
                        <param>.*</param>
                        <param>geo</param>
                        <panel type="text" target="li_vicavMission">MISSION</panel>
                        <panel type="text" target="li_vicavNews">NEWS</panel>
                      </frontpage>
                      <menu>
                        <main>
                          <dropdown xml:id="dropdown00" title="Project">
                            <item xml:id="li_vicavMission">Mission</item>
                            <item xml:id="li_vicavNews">News</item>
                            <separator/>
                            <item xml:id="li_vicavTypesOfText">Types of Text/Data</item>
                            <item xml:id="li_vicavContributors">Contributors</item>
                            <item xml:id="li_vicavLinguistics">Linguistics</item>
                          </dropdown>
                        </main>
                        <subnav>
                          <item xml:id="subNavBiblGeoMarkers" class="active">Bibl. Locations</item>
                        </subnav>
                      </menu>
                    </projectConfig>
                      </config>
                      <renderedMenu>
                        <menu xmlns="http://www.w3.org/1999/xhtml">
                          <main>
                            <ul class="navbar-nav mr-auto">
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown00">Project</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown00">
                                  <a class="dropdown-item" id="li_vicavMission">Mission</a>
                                  <a class="dropdown-item" id="li_vicavNews">News</a>
                                  <div class="dropdown-divider"/>
                                  <a class="dropdown-item" id="li_vicavTypesOfText">Types of Text/Data</a>
                                  <a class="dropdown-item" id="li_vicavContributors">Contributors</a>
                                  <a class="dropdown-item" id="li_vicavLinguistics">Linguistics</a>
                                </div>
                              </li>
                            </ul>
                          </main>
                          <subnav xmlns="">
                            <span xmlns="http://www.w3.org/1999/xhtml" xml:space="preserve" id="subNavBiblGeoMarkers"><i class="fa fa-map" aria-hidden="true"/> Bibl. Locations</span>
                          </subnav>
                        </menu>
                      </renderedMenu>
                    </project>
  /text:
    get:
      tags:
        - noauth
      summary: gets a specific html transformed via a specified xslt
      operationId: getText
      description: |
        By passing the appropriate xml-ID and xslt you can retrieve ready to display html
      parameters:
        - in: query
          name: id
          description: the id of the xml
          required: true
          schema:
            type: string
        - in: query
          name: xslt
          required: true
          description: the filename of the xslt transformation
          schema:
            type: string
      responses:
        '200':
          description: the transformed html
          content:
            application/xml:
              schema:
                type: string
                xml:
                  name: div
                  wrapped: false
              examples:
                html:
                  summary: A sample HTML response
                  value: >
                    <div xmlns:tei="http://www.tei-c.org/ns/1.0">

                    <table class="tbHeader">
                    <tr>
                    <td>
                    <h2>Sample Texts (Explanation)</h2>
                    </td>
                    <td>{teiLink}</td>
                    </tr>
                    </table>


                    <p>The sample texts are translations of the same
                    <a class="aVicText" href="javascript:getDBSnippet(&#34;sample:msa_sample_01/Modern Standard Arabic&#34;, this)">source text</a>. They vary slightly with respect to regional
                    differences. However, they are homogeneous enough to allow students to
                    compare the numerous linguistic phenomena displayed in the texts.</p>


                    <p>Sofar we provide sample texts for six locations:
                    <ul>

                    <li>
                    <a class="aVicText" href="javascript:getDBSnippet(&#34;sample:baghdad_sample_01/Baghdad&#34;, this)">Baghdad</a>
                    </li>

                    <li>
                    <a class="aVicText" href="javascript:getDBSnippet(&#34;sample:cairo_sample_01/Cairo&#34;, this)">Cairo</a>
                    </li>

                    <li>
                    <a class="aVicText" href="javascript:getDBSnippet(&#34;sample:damascus_sample_01/Damascus&#34;, this)">Damascus</a>
                    </li>

                    <li>
                    <a class="aVicText" href="javascript:getDBSnippet(&#34;sample:douz_sample_01/Douz&#34;, this)">Douz</a>
                    </li>

                    <li>
                    <a class="aVicText" href="javascript:getDBSnippet(&#34;sample:urfa_sample_01/%C5%9Eanl%C4%B1urfa&#34;, this)">┼×anl─▒urfa</a>
                    </li>

                    <li>
                    <a class="aVicText" href="javascript:getDBSnippet(&#34;sample:tunis_sample_01/Tunis&#34;, this)">Tunis</a>
                    </li>
                    </ul>
                    </p>
                    </div>
        '500':
          description: bad input parameter
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'
  /profile:
    get:
      tags:
        - noauth
      summary: gets a specific html transformed via a specified xslt
      operationId: getProfile
      description: |
        By passing the appropriate xml-ID and xslt you can retrieve ready to display html
      parameters:
        - in: query
          name: id
          description: the id of the xml
          required: true
          schema:
            type: string
        - in: query
          name: coll
          description: the id of the collection?
          required: true
          schema:
            type: string
        - in: query
          name: xslt
          required: true
          description: the filename of the xslt transformation
          schema:
            type: string
      responses:
        '200':
          description: the transformed html
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: >
                    <div xmlns="http://www.w3.org/1999/xhtml" xmlns:tei="http://www.tei-c.org/ns/1.0">
                    <table class="tbHeader">
                    <tr>
                    <td>
                    <h2>Skoura</h2>
                    </td>
                    <td class="tdTeiLink">{teiLink}</td>
                    </tr>
                    </table>
                    <div class="profileHeader">
                    <div class="dvImgProfile"><img src="images/skoura_sp_2012.jpg"><div class="imgCaption">Courtesy of Stephan Proch├ízka, 2012</div>
                    </div>
                    <table class="tbProfile">
                    <tr>
                    <td class="tdHead">MSA Name</td>
                    <td class="tdProfileTableRight">Ï│┘â┘êÏ▒Ï®</td>
                    </tr>
                    <tr>
                    <td class="tdHead">MSA Name (trans.)</td>
                    <td class="tdProfileTableRight">Sak┼½ra Sk┼½ra</td>
                    </tr>
                    <tr>
                    <td class="tdHead">Geo location</td>
                    <td class="tdProfileTableRight"><i>
                    31┬░03'N 06┬░33'W
                    Morocco
                    </i></td>
                    </tr>
                    <tr>
                    <td class="tdHead">Contributed by</td>
                    <td class="tdProfileTableRight"><i>Aleksandra Ercegov─ìevi─ç</i></td>
                    </tr>
                    </table>
                    </div>
                    <div class="h3ProfileTypology">Typology</div>
                    <table class="tbProfile">
                    <tr>
                    <td colspan="2" class="tdProfileTableRight">West (Maghreb) ÔÇ║ Morocco ÔÇ║ Central type</td>
                    </tr>
                    <tr>
                    <td colspan="2" class="tdProfileTableRight">Hilalian-type sedentary rural dialect with strong influence of Berber</td>
                    </tr>
                    </table>
                    <div class="h3Profile">General</div>

                    <div class="pNorm">Sk┼½ra is an Arabic enclave in the Berber-speaking area south of the High Atlas. Many
                    of the 15,000 inhabitants are bilingual. They live mainly on agriculture and stock
                    breeding.</div>

                    <div class="h3Profile">Research History</div>

                    <div class="pNorm">All available data on the dialect of Sk┼½ra is from the work of Jorge Aguad├® and Mohammad
                    Elya├ócoubi. <a class="aVicText" href="javascript:getDBSnippet(&#34;zotid:8SISG2GK&#34;)">Aguad├® 1994</a> is a brief study on the formation of the reflexive-passive forms of the verb. <a class="aVicText" href="javascript:getDBSnippet(&#34;zotid:E3T3HBCD&#34;)">Aguad├® and Elyaacoubi 1995</a> is a monograph on the dialect with chapters on phonology, nominal and verbal morphology,
                    and verb paradigms. <a class="aVicText" href="javascript:getDBSnippet(&#34;zotid:I3FIKENT&#34;)">Aguad├® et al. 1996</a> deals with the irrigation system in the oasis of Sk┼½ra, and the technical terminology
                    concerning irrigation in the dialect of Sk┼½ra. Elya├ócoubi 1998 treats the topic of
                    the classification of south Moroccan Arabic dialects on the example of Sk┼½ra, where
                    a three page-grammatical sketch of the dialect is also provided.</div>

                    <div class="h3Profile">Dictionaries</div>

                    <div class="pNorm"><a class="aVicText" href="javascript:getDBSnippet(&#34;zotid:I3FIKENT&#34;)">Aguad├® et al. 1996</a> includes a 2-page glossary of terminology related to the irrigation system (<i>xiß╣¡ß╣¡─üra</i>).</div>

                    <div class="h3Profile">Bibliography</div>

                    <div class="pNorm">To view publications on this variety click <a class="aVicText" href="javascript:getDBSnippet(&#34;bibl:geo:Skoura&#34;)">here</a>.</div>
                    <br><br><br></div>
        '500':
          description: bad input parameter
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'
  /explore_samples:
    get:
      tags:
        - noauth
      summary: gets a specific html transformed via a specified xslt
      operationId: getExploreSamples
      description: |
        By passing the appropriate xml-ID and xslt you can retrieve ready to display html
      parameters:
        - in: query
          name: type
          description: the type of query?
          required: true
          schema:
            type: string
        - in: query
          name: word
          description: the word to search for?
          required: true
          schema:
            type: string
        - in: query
          name: xslt
          required: true
          description: the filename of the xslt transformation
          schema:
            type: string
      responses:
        '200':
          description: the transformed html
          content:
            application/xml:
              schema:
                type: string
                xml:
                  name: div
                  wrapped: false
              examples:
                html:
                  summary: A sample HTML response
                  value: '<div xmlns="http://www.w3.org/1999/xhtml" xmlns:tei="http://www.tei-c.org/ns/1.0"><div class="explore-samples"><table class="tbHeader"><tr><td><h2 xml:space="preserve">Compare samples</h2></td><td class="tdPrintLink"><a href="#" data-print="true" class="aTEIButton">Print</a></td></tr></table><div class="explore-samples-summary"><h4>Summary</h4><table><tr><th>unknown</th><td>1</td></tr></table></div><h3>3</h3><h4>unknown</h4><p xml:space="preserve">1 sentences found.</p><table class="tbFeatures"><tr><td class="tdFeaturesHeadRight"><small xml:space="preserve">%as</small></td><td class="tdFeaturesRightTarget"><a class="show-sentence" title="Show full sample text" href="#" data-sampletext="douz_sample_01"><i class="fa fa-eye" aria-hidden="true"><span/></i></a><span xmlns:acdh="http://acdh.oeaw.ac.at" class="spSentence" xml:space="preserve"><span class="sample-text-tooltip" data-html="true" data-toggle="tooltip" data-placement="top" title="Tomaten nahm ich keine, weil sie sehr teuer&#xA;                     waren."><i class="fa fa-commenting-o" aria-hidden="true"><span/></i></span> <a class="word-search" href="#" data-wordform="m─ü" data-type="sample"><span data-html="true" data-placement="top" class="w">m─ü</span></a><a class="word-search" href="#" data-wordform="-" data-type="sample"><span data-html="true" data-placement="top" class="w">-</span></a><a class="word-search" href="#" data-wordform="┼ír─½t" data-type="sample"><span data-html="true" data-placement="top" class="w highlight">┼ír─½t</span></a><a class="word-search" href="#" data-wordform="-" data-type="sample"><span data-html="true" data-placement="top" class="w">-</span></a><a class="word-search" href="#" data-wordform="ÃØ┼í" data-type="sample"><span data-html="true" data-placement="top" class="w">ÃØ┼í</span></a> <a class="word-search" href="#" data-wordform="iß╣¡" data-type="sample"><span data-html="true" data-placement="top" class="w">iß╣¡</span></a><a class="word-search" href="#" data-wordform="-" data-type="sample"><span data-html="true" data-placement="top" class="w">-</span></a><a class="word-search" href="#" data-wordform="ß╣¡am─üß╣¡im" data-type="sample"><span data-html="true" data-placement="top" class="w">ß╣¡am─üß╣¡im</span></a> <a class="word-search" href="#" data-wordform="╩┐al" data-type="sample"><span data-html="true" data-placement="top" class="w">╩┐al</span></a><a class="word-search" href="#" data-wordform="-" data-type="sample"><span data-html="true" data-placement="top" class="w">-</span></a><a class="word-search" href="#" data-wordform="x─üß╣¡ir" data-type="sample"><span data-html="true" data-placement="top" class="w">x─üß╣¡ir</span></a> <a class="word-search" href="#" data-wordform="k─ünat" data-type="sample"><span data-html="true" data-placement="top" class="w">k─ünat</span></a> <a class="word-search" href="#" data-wordform="─í─ülya" data-type="sample"><span data-html="true" data-placement="top" class="w">─í─ülya</span></a><a class="word-search" href="#" data-wordform="." data-type="sample"><span data-html="true" data-placement="top" class="w">.</span></a> </span></td></tr></table></div></div>'
        '500':
          description: bad input parameter
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'
  /biblio_tei:
    get:
      tags:
        - noauth
      summary: gets a specific html transformed via a specified xslt
      operationId: getBiblioTei
      description: |
        By passing a well formed query and xslt you can retrieve ready to display html
      parameters:
        - in: query
          name: query
          description: the query
          required: true
          schema:
            type: string
        - in: query
          name: xslt
          required: true
          description: the filename of the xslt transformation
          schema:
            type: string
      responses:
        '200':
          description: the transformed html
          content:
            application/xml:
              schema:
                type: string
                xml:
                  name: div
                  wrapped: false
              examples:
                html:
                  summary: A sample HTML response
                  value: '<div xmlns:tei="http://www.tei-c.org/ns/1.0"><div class="dvStats">Query:┬á┬á<span class="spQueryText">{query}</span></div><div class="dvStats">1 record┬á</div><div class="dvBibBook"><div class="dvAuthor"><b>Hagenbucher,<span xml:space="preserve"> </span>F.</b></div><div class="dvBiblBlock"><img class="imgBiblItem" src="images/book_001.jpg"/>Les arabes dits ÔÇ£suwaÔÇØ du Nord-Cameroun.<span xml:space="preserve"> </span>Yaounde.<span xml:space="preserve"> </span>ORSTOM.<span xml:space="preserve"> </span>1973.</div></div></div>'
        '500':
          description: bad input parameter
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'
  /bibl_markers_tei:
    get:
      tags:
        - noauth
      summary: gets a specific xml transformed via a specified xslt
      operationId: getMarkers
      description: |
        By passing the appropriate xml-ID and xslt you can retrieve ready to display html
      parameters:
        - in: query
          name: query
          description: an xml query?
          required: true
          schema:
            type: string
        - in: query
          name: scope
          required: true
          description: I have no idea!
          schema:
            type: string
      responses:
        '200':
          description: an xml result list to the query
          content:
            application/xml:
              schema:
                type: string
                xml:
                  name: rs
                  wrapped: false
                items:
                  type: object
              examples:
                xml:
                  summary: A list of geo markers
                  value: >
                    <rs type="60">
                      <r type="geo">
                        <geo>35.578333 -5.368056</geo>
                        <alt>T├®touan</alt>
                        <freq>1</freq>
                      </r>
                      <r type="reg">
                        <geo>32.000000 -6.000000</geo>
                        <alt>Morocco</alt>
                        <freq>44</freq>
                      </r>
                      <r type="reg">
                        <geo>34.000000 9.000000</geo>
                        <alt>Tunisia</alt>
                        <freq>4</freq>
                      </r>
                    </rs>
        '500':
          description: bad input parameter
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'
  /{name}_markers:
    get:
      tags:
        - noauth
      summary: gets a specific xml
      operationId: sampleMarkers
      description: |
        I have no idea
      parameters:
        - in: path
          name: name
          description: a reference to a predefined query?
          required: true
          schema:
            type: string
      responses:
        '200':
          description: an xml result list
          content:
            application/xml:
              schema:
                type: string
                xml:
                  name: rs
                  wrapped: false
                items:
                  type: object
              examples:
                xml:
                  summary: A list of geo markers
                  value: >
                    <rs>
                      <r type="geo" xml:id="baghdad_sample_01">
                        <loc>33┬░20'N 44┬░24'E</loc>
                        <locName>
                          <name xmlns="http://www.tei-c.org/ns/1.0" xml:lang="eng">Baghdad</name>
                        </locName>
                        <alt>
                          <name xmlns="http://www.tei-c.org/ns/1.0" xml:lang="eng">Baghdad</name>
                        </alt>
                        <freq>1</freq>
                      </r>
                      <r type="geo" xml:id="cairo_sample_01">
                        <loc>30┬░03'N 31┬░14'E</loc>
                        <locName>
                          <name xmlns="http://www.tei-c.org/ns/1.0" xml:lang="eng">Cairo</name>
                        </locName>
                        <alt>
                          <name xmlns="http://www.tei-c.org/ns/1.0" xml:lang="eng">Cairo</name>
                        </alt>
                        <freq>1</freq>
                      </r>
                    </rs>
        '404':
          description: not found
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'
  /dict_api:
    get:
      tags:
        - noauth
      summary: gets a specific html transformed via a specified xslt
      operationId: getDictApi
      description: |
        By passing a well formed query and xslt you can retrieve ready to display html
      parameters:
        - in: query
          name: query
          description: the query
          required: true
          schema:
            type: string
        - in: query
          name: dict
          description: the dict id?
          required: true
          schema:
            type: string
        - in: query
          name: xslt
          required: true
          description: the filename of the xslt transformation
          schema:
            type: string
      responses:
        '200':
          description: the transformed html
          content:
            application/xml:
              schema:
                type: string
                xml:
                  name: div
                  wrapped: false
              examples:
                html:
                  summary: A sample HTML response
                  value: >
                    <div xmlns="http://www.w3.org/1999/xhtml" xmlns:tei="http://www.tei-c.org/ns/1.0">
                    <div class="dvStats" id="dvStats">0&nbsp;hits</div>
                    </div>
        '500':
          description: bad input parameter
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'
  /dict_index:
    get:
      tags:
        - noauth
      summary: gets a specific html transformed via a specified xslt
      operationId: getDictIndex
      description: |
        By passing a well formed query you can retrieve ready to display html
      parameters:
        - in: query
          name: dict
          description: the dict id?
          required: true
          schema:
            type: string
        - in: query
          name: ind
          required: true
          description: I have no idea
          schema:
            type: string
            enum:
              - any
              - lem
              - infl
              - en
              - de
              - fr
              - pos
              - root
              - subc
              - etymSrc
              - etymLang
        - in: query
          name: str
          required: true
          description: the query string?
          schema:
            type: string
      responses:
        '200':
          description: the transformed html
          content:
            application/xml:
              schema:
                type: string
                xml:
                  name: div
                  wrapped: false
              examples:
                html:
                  summary: A sample HTML response
                  value: >
                    <div xmlns="http://www.w3.org/1999/xhtml">
                    <option class="opWordList_de">'[abstauben]</option>
                    <option class="opWordList_de">[Abbilden]</option>
                    <option class="opWordList_de">[Abdruck]</option>
                    <option class="opWordList_de">[Abend]</option>
                    <option class="opWordList_de">[Abend]-</option>
                    <option class="opWordList_de">[Abendessen]</option>
                    <option class="opWordList_de">[Abendgebet]</option>
                    <option class="opWordList_de">[Abenteuer]</option>
                    <option class="opWordList_de">[Abfall]</option>
                    <option class="opWordList_de">[Abfallhaufen]</option>
                    <option class="opWordList_de">[Abflussloch]</option>
                    <option class="opWordList_de">[Abflussrinne]</option>
                    <option class="opWordList_de">[Abflussrohr]</option>
                    <option class="opWordList_de">[Abflu├ƒkanal]</option>
                    <option class="opWordList_de">[Abgeordnetenhaus]</option>
                    <option class="opWordList_de">[Abgeordnetenkammer]</option>
                    <option class="opWordList_de">[Abgeordneter]</option>
                    <option class="opWordList_de">[Abgeschiedenheit]</option>
                    <option class="opWordList_de">[Abitur]</option>
                    <option class="opWordList_de">[Abk├╝rzung]</option>
                    <option class="opWordList_de">[Ablenkung]</option>
                    <option class="opWordList_de">[Ablflussrinne]</option>
                    <option class="opWordList_de">[Ablutionsk├ñnnchen]</option>
                    <option class="opWordList_de">[Abmachung]</option>
                    <option class="opWordList_de">[Abort]</option>
                    <option class="opWordList_de">[Abortgrube]</option>
                    <option class="opWordList_de">[Absatz]</option>
                    <option class="opWordList_de">[Abscheu]</option>
                    <option class="opWordList_de">[Abscheulichkeit]</option>
                    <option class="opWordList_de">[Abschiedsgru├ƒ]</option>
                    <option class="opWordList_de">[Abschneiden]</option>
                    <option class="opWordList_de">[Abschnitt]</option>
                    <option class="opWordList_de">[Absender]</option>
                    <option class="opWordList_de">[Absicht]</option>
                    <option class="opWordList_de">[Abstand]</option>
                    <option class="opWordList_de">[Abstellbrett]</option>
                    <option class="opWordList_de">[Abstellraum]</option>
                    <option class="opWordList_de">[Abstieg]</option>
                    <option class="opWordList_de">[Abszess]</option>
                    <option class="opWordList_de">[Abteilungsleiter]</option>
                    <option class="opWordList_de">[Abtritt]</option>
                    <option class="opWordList_de">[Abwesenheit]</option>
                    <option class="opWordList_de">[Abwickeln]</option>
                    <option class="opWordList_de">[Abzweigung]</option>
                    <option class="opWordList_de">[abbiegen]</option>
                    <option class="opWordList_de">[abbrechen]</option>
                    <option class="opWordList_de">[abdecken]</option>
                    <option class="opWordList_de">[abendlich]</option>
                    <option class="opWordList_de">[abendl├ñndisch]</option>
                    <option class="opWordList_de">[aber]</option>
                    <option class="opWordList_de">[abfahren]</option>
                    <option class="opWordList_de">[abfangen]</option>
                    <option class="opWordList_de">[abgeben]</option>
                    <option class="opWordList_de">[abgebildet]</option>
                    <option class="opWordList_de">[abgenutzt]</option>
                    <option class="opWordList_de">[abgeschrieben]</option>
                    <option class="opWordList_de">[abgesch├ñlt]</option>
                    <option class="opWordList_de">[abgestempelt]</option>
                    <option class="opWordList_de">[abgewirtschaftet]</option>
                    <option class="opWordList_de">[abhauen]</option>
                    <option class="opWordList_de">[abheben]</option>
                    <option class="opWordList_de">[abh├ñuten]</option>
                    <option class="opWordList_de">[ablehnen]</option>
                    <option class="opWordList_de">[abliefern]</option>
                    <option class="opWordList_de">[abmagern]</option>
                    <option class="opWordList_de">[abnehmen]</option>
                    <option class="opWordList_de">[abnormal]</option>
                    <option class="opWordList_de">[abreisen]</option>
                    <option class="opWordList_de">[abrei├ƒen]</option>
                    <option class="opWordList_de">[abschaben]</option>
                    <option class="opWordList_de">[abscheulich]</option>
                    <option class="opWordList_de">[abschlachten]</option>
                    <option class="opWordList_de">[abschneiden]</option>
                    <option class="opWordList_de">[abschreiben]</option>
                    <option class="opWordList_de">[abseihen]</option>
                    <option class="opWordList_de">[absengen]</option>
                    <option class="opWordList_de">[absichtlich]</option>
                    <option class="opWordList_de">[absteigen]</option>
                    <option class="opWordList_de">[absto├ƒen]</option>
                    <option class="opWordList_de">[abstreiten]</option>
                    <option class="opWordList_de">[abwaschen]</option>
                    <option class="opWordList_de">[abwesend]</option>
                    <option class="opWordList_de">[abwischen]</option>
                    <option class="opWordList_de">[abziehen]</option>
                    <option class="opWordList_en">[abdomen]</option>
                    <option class="opWordList_en">[abhorrence]</option>
                    <option class="opWordList_en">[ability]</option>
                    <option class="opWordList_en">[ablution]</option>
                    <option class="opWordList_en">[about]</option>
                    <option class="opWordList_en">[above]</option>
                    <option class="opWordList_en">[abroad]</option>
                    <option class="opWordList_en">[abscess]</option>
                    <option class="opWordList_en">[absence]</option>
                    <option class="opWordList_en">[absent]</option>
                    <option class="opWordList_en">[absolutely]</option>
                    <option class="opWordList_en">[abundantly]</option>
                    <option class="opWordList_fr">[abaissement]</option>
                    <option class="opWordList_fr">[abaisser]</option>
                    <option class="opWordList_fr">[abattage]</option>
                    <option class="opWordList_fr">[abattement]</option>
                    <option class="opWordList_fr">[abattre]</option>
                    <option class="opWordList_fr">[abattu]</option>
                    <option class="opWordList_fr">[abdomen]</option>
                    <option class="opWordList_fr">[abeilles]</option>
                    <option class="opWordList_fr">[ablution]</option>
                    <option class="opWordList_fr">[aboiement]</option>
                    <option class="opWordList_fr">[abonder]</option>
                    <option class="opWordList_fr">[aboyer]</option>
                    <option class="opWordList_fr">[abreuver]</option>
                    <option class="opWordList_fr">[abricots]</option>
                    <option class="opWordList_fr">[absence]</option>
                    <option class="opWordList_fr">[absent]</option>
                    <option class="opWordList_fr">[absolument]</option>
                    <option class="opWordList_fr">[absolutment]</option>
                    <option class="opWordList_fr">[abuser]</option>
                    <option class="opWordList_fr">[ab├«m├®]</option>
                    <option class="opWordList_de">([Ab])hang</option>
                    <option class="opWordList_de">([Ab])wiegen</option>
                    <option class="opWordList_de">(Geld) [abheben]</option>
                    <option class="opWordList_de">(Staub) [abklopfen]</option>
                    <option class="opWordList_de">(Unter-)[Abteilung]</option>
                    <option class="opWordList_de">(Zigarette) [abaschen]</option>
                    <option class="opWordList_de">([ab])st├╝tzen</option>
                    <option class="opWordList_de">([ab])w├ñgen</option>
                    <option class="opWordList_de">([ab]-)lecken</option>
                    <option class="opWordList_de">(edle) [Abstammung]</option>
                    <option class="opWordList_de">(fr├╝her) [Abend]</option>
                    <option class="opWordList_de">(gute) [Absicht]</option>
                    <option class="opWordList_de">(stark) [abnehmen]</option>
                    <option class="opWordList_de">[Abscheu] erregen</option>
                    <option class="opWordList_de">[Abschied] nehmen</option>
                    <option class="opWordList_de">Guten [Abend]!</option>
                    <option class="opWordList_de">Hau [ab]!</option>
                    <option class="opWordList_de">Luft [ablassen]</option>
                    <option class="opWordList_de">Stimme [abgeben]</option>
                    <option class="opWordList_de">[abendliche] Feier</option>
                    <option class="opWordList_de">[aber]...nicht</option>
                    <option class="opWordList_de">[abgehen] (Zug)</option>
                    <option class="opWordList_de">[abgen├╝tzt] werden</option>
                    <option class="opWordList_de">[abgerissenes] Kleidungsst├╝ck</option>
                    <option class="opWordList_de">[abgeschnittene] Locke</option>
                    <option class="opWordList_de">[abgesehen] davon</option>
                    <option class="opWordList_de">[abgesehen] von</option>
                    <option class="opWordList_de">[abheben] (Geld)</option>
                    <option class="opWordList_de">[abh├ñngen] von</option>
                    <option class="opWordList_de">[abh├ñngig] von</option>
                    <option class="opWordList_de">[abh├Âren] (Patient)</option>
                    <option class="opWordList_de">[ablassen] von</option>
                    <option class="opWordList_de">[abschleppen] (Auto)</option>
                    <option class="opWordList_de">[absp├╝len] (Geschirr)</option>
                    <option class="opWordList_de">[abst├╝rzen] (Computer</option>
                    <option class="opWordList_de">[abtr├╝nniger] Muslim</option>
                    <option class="opWordList_de">[abwesend] sein</option>
                    <option class="opWordList_de">[abzielen] auf</option>
                    <option class="opWordList_de">en [abondance]</option>
                    <option class="opWordList_de">etw. [abbrechen]</option>
                    <option class="opWordList_de">etw. [abkratzen]</option>
                    <option class="opWordList_de">gegen [Abend]</option>
                    <option class="opWordList_de">heute [Abend]</option>
                    <option class="opWordList_de">langsam [abflie├ƒen]</option>
                    <option class="opWordList_de">mit [Absicht]</option>
                    <option class="opWordList_de">nun [aber]</option>
                    <option class="opWordList_de">sich [abm├╝hen]</option>
                    <option class="opWordList_de">vorgestern [Abend]</option>
                    <option class="opWordList_en">[about] what</option>
                    <option class="opWordList_en">[absolutely] nothing</option>
                    <option class="opWordList_en">caring [about]</option>
                    <option class="opWordList_en">from [above]</option>
                    <option class="opWordList_en">from [abroad]</option>
                    <option class="opWordList_en">to [abandon]</option>
                    <option class="opWordList_en">to [abound]</option>
                    <option class="opWordList_en">to [abuse]</option>
                    <option class="opWordList_fr">[aborder] qc.</option>
                    <option class="opWordList_fr">[ab├«mer] qc.</option>
                    <option class="opWordList_fr">d'[abord]</option>
                    <option class="opWordList_fr">devenir [abondant]</option>
                    <option class="opWordList_fr">dÔÇÖ[abord]</option>
                    <option class="opWordList_fr">r├¿gle [absolue]</option>
                    <option class="opWordList_fr">sÔÇÖ[ab├«mer]</option>
                    <option class="opWordList_fr">├¬tre [abandonn├®]</option>
                    <option class="opWordList_fr">├¬tre [absent]</option>
                    <option class="opWordList_de">([ab])wiegen (Gewicht)</option>
                    <option class="opWordList_de">(die Schule/ das Studium) [abschlie├ƒen]/[absolvieren]</option>
                    <option class="opWordList_de">[Ablegen] von Gegenst├ñnden</option>
                    <option class="opWordList_de">[Abreibung] (mit Seife)</option>
                    <option class="opWordList_de">[Abweichung] (vom Rechten)</option>
                    <option class="opWordList_de">[abgerissenes] zerlumptes Kleidungsst├╝ck</option>
                    <option class="opWordList_de">[abgewickelt] werden (Gesch├ñft)</option>
                    <option class="opWordList_de">[abh├ñngig] sein von</option>
                    <option class="opWordList_de">[abnehmen] (den Telefonh├Ârer)</option>
                    <option class="opWordList_de">an jenem [Abend]</option>
                    <option class="opWordList_de">austreten (auf [Abort])</option>
                    <option class="opWordList_de">das Fell [abziehen]</option>
                    <option class="opWordList_de">die [Absicht] habend...</option>
                    <option class="opWordList_de">eine [Abteilung] Soldaten</option>
                    <option class="opWordList_de">mit der [Absicht]</option>
                    <option class="opWordList_de">sich (gegenseitig) [abk├╝ssen]</option>
                    <option class="opWordList_de">sich [abwenden] von</option>
                    <option class="opWordList_de">sich [abzeichnend] (Konturen)</option>
                    <option class="opWordList_de">von ihm [abfallen]</option>
                    <option class="opWordList_de">zu [Abend] essen</option>
                    <option class="opWordList_de">zu [Abend] speisen</option>
                    <option class="opWordList_en">hanging [about]/around</option>
                    <option class="opWordList_en">to [abandon] sth.</option>
                    <option class="opWordList_en">to [abate] (price)</option>
                    <option class="opWordList_en">to be [abandoned]</option>
                    <option class="opWordList_en">to be [able]</option>
                    <option class="opWordList_en">to be [absent]</option>
                    <option class="opWordList_en">to complain [about]</option>
                    <option class="opWordList_en">to laze ([about])</option>
                    <option class="opWordList_en">to reflect ([about])</option>
                    <option class="opWordList_en">to strut [about]</option>
                    <option class="opWordList_en">to think ([about])</option>
                    <option class="opWordList_en">to worry [about]</option>
                    <option class="opWordList_en">wandering [about]/around</option>
                    <option class="opWordList_fr">[abandonner] qn./qc.</option>
                    <option class="opWordList_fr">[abri] de fortune</option>
                    <option class="opWordList_fr">ne... [absolument] personne</option>
                    <option class="opWordList_fr">s'[abattre] sur</option>
                    <option class="opWordList_fr">sÔÇÖ[absenter] (de)</option>
                    <option class="opWordList_fr">tout d'[abord]</option>
                    <option class="opWordList_de">[Absatz]/St├Âckel der Schuhe</option>
                    <option class="opWordList_de">[Abzug] (e-r Feuerwaffe)</option>
                    <option class="opWordList_de">[Abzugsloch] unter der Feuerstelle</option>
                    <option class="opWordList_de">[abgeschnittene] Locke der Braut</option>
                    <option class="opWordList_de">[abgewinkelter] Eingangsbereich tunesischer H├ñuser</option>
                    <option class="opWordList_de">[absch├ñtziger] und ver├ñchtlicher Mann</option>
                    <option class="opWordList_de">[absch├╝ssige](r) Stra├ƒe/ Weg</option>
                    <option class="opWordList_de">des [Ablegens] von Kleidung</option>
                    <option class="opWordList_de">die den Kachelfries [abschlie├ƒt]</option>
                    <option class="opWordList_de">eine gro├ƒe Schau [abziehen]</option>
                    <option class="opWordList_de">j-m etw. [abkn├Âpfen]</option>
                    <option class="opWordList_de">j-m etw. [abluchsen]</option>
                    <option class="opWordList_de">mit j-m [abrechnen]</option>
                    <option class="opWordList_en">it is [absolutely] necessary</option>
                    <option class="opWordList_en">to be passionate [about]</option>
                    <option class="opWordList_en">to become [abundant]/plentiful</option>
                    <option class="opWordList_en">to hang [about]/around</option>
                    <option class="opWordList_en">to philosophize [about] sth.</option>
                    <option class="opWordList_en">to wander [about]/around</option>
                    <option class="opWordList_fr">avoir l'esprit [absent]</option>
                    <option class="opWordList_fr">chevelure [abondante] et indisciplin├®e</option>
                    <option class="opWordList_fr">il est [absolument] necessaire</option>
                    <option class="opWordList_de">Schuheisen (f├╝r Spitze und [Absatz])</option>
                    <option class="opWordList_de">Unterleder von Sohle und [Absatz]</option>
                    <option class="opWordList_de">Wasch- und Wasserstelle sowie [Abort]</option>
                    <option class="opWordList_de">[aber] geduldete) Zuschauerin (bei Familienfeiern)</option>
                    <option class="opWordList_de">[abmessen] (mit e-m Hohlma├ƒ</option>
                    <option class="opWordList_de">an den Festtagen Verwandtschaftsbesuche [absolviert])</option>
                    <option class="opWordList_de">befreien (verstopften Gang/Kanal/[Abfluss]</option>
                    <option class="opWordList_de">der die einheimischen M├ñrkte [abmacht]</option>
                    <option class="opWordList_de">die das Trauerjahr [abschlie├ƒende] Zeremonie</option>
                    <option class="opWordList_de">mittels e-s Schlosses [ab]-</option>
                    <option class="opWordList_en">to acquire knowledge [about] sth.</option>
                    <option class="opWordList_en">to gossip [about] sb./sth.</option>
                    <option class="opWordList_en">to perform the ritual [ablution]</option>
                    <option class="opWordList_en">to talk [about] sth./sb.</option>
                    <option class="opWordList_de">Feier zur schriftlichen [Abfassung] eines Heirats├╝bereinkommens</option>
                    <option class="opWordList_de">Student bzw. [Absolvent] der Zitouna-Hochschule</option>
                    <option class="opWordList_de">bei einer Pr├╝fung schummeln oder [abschreiben]</option>
                    <option class="opWordList_de">den Kuskusd├ñmpfer mittels der qf─½la [abdichten]</option>
                    <option class="opWordList_de">sich [absichern] (durch R├╝cklagen o. ├ñ.)</option>
                    <option class="opWordList_en">to doubt of/[about] sth./sb.</option>
                    <option class="opWordList_fr">employer [abondamment] le mot p├®nis (zibb)</option>
                    <option class="opWordList_de">die als [Abgrenzung] einer landwirtschaftlichen Fl├ñche dienen</option>
                    <option class="opWordList_de">die gerne [abends] ausgeht und gerne feiert</option>
                    <option class="opWordList_de">eifers├╝chtig auf die [Abgeschlossenheit] seiner Frau Bedachter</option>
                    <option class="opWordList_en">a unit of mass ([about] 5 g)</option>
                    <option class="opWordList_en">to [abundantly] use the word penis (zibb)</option>
                    <option class="opWordList_en">to say bad things [about] sb./sth.</option>
                    <option class="opWordList_de">[aber] von M├ñnnern wie Frauen unter sich gebraucht)</option>
                    <option class="opWordList_de">die Verbindung/den Kontakt zu j-m [abbrechen]</option>
                    <option class="opWordList_de">bez├╝glich auf einen Studenten bzw. [Absolventen] der Zitouna-Hochschule</option>
                    <option class="opWordList_de">das Fell von Schlachttieren (an Sch├ñdel und L├ñufen) [absengen]</option>
                    <option class="opWordList_en">What do I/do you/does he etc. think ([about]...)?</option>
                    <option class="opWordList_de">sehr feine und geschmeidige Pantoffel mit [abgerundeter] Spitze und aus Kamelleder</option>
                    <option class="opWordList_de">und 9. Tag nach einem Todesfall der leidtragenden Familie [abstattete] (obsoleter Brauch)</option>
                    </div>
        '500':
          description: bad input parameter
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'
