openapi: 3.1.0
jsonSchemaDialect: 'https://spec.openapis.org/oas/3.1/dialect/base'
servers:
  - url: https://vicav.acdh.oeaw.ac.at
    description: "current ACDH-CH prod server"
  - url: https://vicav.acdh-ch-dev.oeaw.ac.at
    description: "current ACDH-CH dev server"
  - url: https://tunocent.acdh-cluster-2.arz.oeaw.ac.at
    description: "current tunocent private dev server"
  - url: https://tunocent-vicav.acdh-dev.oeaw.ac.at
    description: "current tunocent dev server"
  - url: https://shawi.acdh-ch-dev.oeaw.ac.at
    description: "current shawi dev server"
  # Added by API Auto Mocking Plugin
  - description: SwaggerHub API Auto Mocking
    url: https://virtserver.swaggerhub.com/ctot-nondef/Vicav/1.0.0
  - url: http://localhost:8984
    description: "local development"
  - url: http://shawi-local.acdh.oeaw.ac.at:8984
    description: "local development"
info:
  description: This is the currently implemented vicav API
  version: "1.0.0"
  title: Current Vicav API
  contact:
    email: christoph.hoffmann@oeaw.ac.at
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
tags:
  - name: noauth
    description: Operations available without authentication
  - name: vicav
    description: >-
      VICAV API An API for retrieving the various VICAV TEI documents rendered
      either as XHTML snippets or JSON
  - name: vleserver-api
    description: >-
      API Problem and JSON HAL based API for querying dictionary like XML
      datasets.
paths:
  /vicav/project:
    get:
      description: Get info about the project, menus and open panels/windows
      tags:
        - noauth
      summary: gets basic project configuration
      operationId: getProject
      responses:
        '200':
          description: an xml with wrapped html contained
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectConfig'
              examples:
                project_config_VICAV:
                  summary: the VICAV project configuration
                  value: {
                          "projectConfig": {
                            "title": "VICAV3.0 - Vienna Corpus of Arabic Varieties",
                            "logo": {
                              "img": "http:\/\/localhost:8984\/vicav\/images\/vicav_logo.svg"
                            },
                            "icon": "http:\/\/localhost:8984\/vicav\/vendor\/images\/marker-icon.png",
                            "map": {
                              "zoom": 4,
                              "center": {
                                "lat": 19.064,
                                "lng": 24.544
                              }
                            },
                            "param": [
                              ".*",
                              "geo"
                            ],
                            "panel": [
                              {
                                "id": "li_vicavMission",
                                "target": "vicavMission",
                                "title": "MISSION",
                                "type": "panel",
                                "targetType": "Text",
                                "label": "Mission"
                              },
                              {
                                "id": "li_vicavNews",
                                "target": "vicavNews",
                                "title": "NEWS",
                                "type": "panel",
                                "targetType": "Text",
                                "label": "VICAV News"
                              }
                            ],
                            "menu": {
                              "main": [
                                {
                                  "id": "dropdown00",
                                  "target": "dropdown00",
                                  "title": "Project",
                                  "item": [
                                    {
                                      "id": "li_vicavMission",
                                      "target": "vicavMission",
                                      "title": "Mission",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Mission"
                                    },
                                    {
                                      "id": "li_vicavNews",
                                      "target": "vicavNews",
                                      "title": "News",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "VICAV News"
                                    },
                                    {
                                      "type": "separator"
                                    },
                                    {
                                      "id": "li_vicavTypesOfText",
                                      "target": "vicavTypesOfText",
                                      "title": "Types of Text\/Data",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Types of Text"
                                    },
                                    {
                                      "id": "li_vicavContributors",
                                      "target": "vicavContributors",
                                      "title": "Contributors",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Contributors"
                                    },
                                    {
                                      "id": "li_vicavLinguistics",
                                      "target": "vicavLinguistics",
                                      "title": "Linguistics",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Linguistics"
                                    }
                                  ],
                                  "type": "dropdown"
                                },
                                {
                                  "id": "dropdown01",
                                  "target": "dropdown01",
                                  "title": "Bibliographies",
                                  "item": [
                                    {
                                      "id": "li_vicavExplanationBibliography",
                                      "target": "vicavExplanationBibliography",
                                      "title": "Explanation",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Bibliography (Details)"
                                    },
                                    {
                                      "type": "separator"
                                    },
                                    {
                                      "id": "navBiblGeoMarkers",
                                      "target": "BiblGeoMarkers",
                                      "title": "All Bibl. Locations on Map",
                                      "type": "item",
                                      "targetType": "WMap",
                                      "label": "All Bibl. Locations on Map",
                                      "params": {
                                        "endpoint": "bibl_markers_tei",
                                        "queryString": ".*",
                                        "scope": [
                                          "geo"
                                        ]
                                      }
                                    },
                                    {
                                      "id": "navBiblRegMarkers",
                                      "target": "BiblRegMarkers",
                                      "title": "All Bibl. Regions on Map",
                                      "type": "item",
                                      "targetType": "WMap",
                                      "label": "All Bibl. Regions on Map",
                                      "params": {
                                        "endpoint": "bibl_markers_tei",
                                        "queryString": ".*",
                                        "scope": [
                                          "reg"
                                        ]
                                      }
                                    },
                                    {
                                      "id": "navBiblDiaGroupMarkers",
                                      "target": "BiblDiaGroupMarkers",
                                      "title": "All Bibl. Dialect Regions on Map",
                                      "type": "item",
                                      "targetType": "WMap",
                                      "label": "All Bibl. Dialect Regions on Map",
                                      "params": {
                                        "endpoint": "bibl_markers_tei",
                                        "queryString": "This feature is unused at the moment",
                                        "scope": [
                                          "diaGroup"
                                        ]
                                      }
                                    },
                                    {
                                      "type": "separator"
                                    },
                                    {
                                      "id": "navDictGeoRegMarkers",
                                      "target": "DictGeoRegMarkers",
                                      "title": "All Dictionaries in Bibl. on Map",
                                      "type": "item",
                                      "targetType": "WMap",
                                      "label": "All Dictionaries in Bibl. on Map",
                                      "params": {
                                        "endpoint": "bibl_markers_tei",
                                        "queryString": "vt:dictionary",
                                        "scope": [
                                          "geo",
                                          "reg"
                                        ]
                                      }
                                    },
                                    {
                                      "id": "navTextbookGeoRegMarkers",
                                      "target": "TextbookGeoRegMarkers",
                                      "title": "All Textbooks in Bibl. on Map",
                                      "type": "item",
                                      "targetType": "WMap",
                                      "label": "All Textbooks in Bibl. on Map",
                                      "params": {
                                        "endpoint": "bibl_markers_tei",
                                        "queryString": "vt:textbook",
                                        "scope": [
                                          "geo",
                                          "reg"
                                        ]
                                      }
                                    },
                                    {
                                      "type": "separator"
                                    },
                                    {
                                      "id": "liBiblNewQuery",
                                      "target": "BiblNewQuery",
                                      "title": "Query Bibliography",
                                      "type": "item",
                                      "targetType": "BiblioEntries",
                                      "label": "Query Bibliography"
                                    },
                                    {
                                      "type": "separator"
                                    },
                                    {
                                      "id": "li_vicavContributeBibliography",
                                      "target": "vicavContributeBibliography",
                                      "title": "Contribute to the Bibliography",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Contribute to Bibliography"
                                    }
                                  ],
                                  "type": "dropdown"
                                },
                                {
                                  "id": "dropdown02",
                                  "target": "dropdown02",
                                  "title": "Profiles",
                                  "item": [
                                    {
                                      "id": "li_vicavExplanationProfiles1",
                                      "target": "vicavExplanationProfiles1",
                                      "title": "Explanation + List",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Explanation + List"
                                    },
                                    {
                                      "type": "separator"
                                    },
                                    {
                                      "id": "navProfilesGeoRegMarkers",
                                      "target": "ProfilesGeoRegMarkers",
                                      "title": "Show All Profiles on Map",
                                      "type": "item",
                                      "targetType": "WMap",
                                      "label": "Show All Profiles on Map",
                                      "params": {
                                        "endpoint": "profile_markers",
                                        "queryString": "",
                                        "scope": []
                                      }
                                    },
                                    {
                                      "type": "separator"
                                    },
                                    {
                                      "id": "li_vicavContributeProfile",
                                      "target": "vicavContributeProfile",
                                      "title": "Contribute a Profile",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Contribute a Profile"
                                    }
                                  ],
                                  "type": "dropdown"
                                },
                                {
                                  "id": "dropdown03",
                                  "target": "dropdown03",
                                  "title": "Feature Lists",
                                  "item": [
                                    {
                                      "id": "li_vicavExplanationFeatures",
                                      "target": "vicavExplanationFeatures",
                                      "title": "Explanation",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Features (Details)"
                                    },
                                    {
                                      "id": "li_vicavExploreFeatures",
                                      "target": "vicavExploreFeatures",
                                      "title": "Cross-examine the VICAV Feature Lists",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Explore Features"
                                    },
                                    {
                                      "type": "separator"
                                    },
                                    {
                                      "id": "navFeaturesGeoRegMarkers",
                                      "target": "FeaturesGeoRegMarkers",
                                      "title": "Show All Feature Lists on Map",
                                      "type": "item",
                                      "targetType": "WMap",
                                      "label": "Show All Feature Lists on Map",
                                      "params": {
                                        "endpoint": "feature_markers",
                                        "queryString": "",
                                        "scope": [
                                        ]
                                      }
                                    },
                                    {
                                      "type": "separator"
                                    },
                                    {
                                      "id": "li_vicavContributeFeature",
                                      "target": "vicavContributeFeature",
                                      "title": "Contribute a Feature List",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Contribute a Feature List"
                                    }
                                  ],
                                  "type": "dropdown"
                                },
                                {
                                  "id": "dropdown04",
                                  "target": "dropdown04",
                                  "title": "Samples",
                                  "item": [
                                    {
                                      "id": "li_vicavExplanationSamples",
                                      "target": "vicavExplanationSamples",
                                      "title": "Explanation",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Samples (Details)"
                                    },
                                    {
                                      "type": "separator"
                                    },
                                    {
                                      "id": "navSamplesGeoRegMarkers",
                                      "target": "SamplesGeoRegMarkers",
                                      "title": "Show All Samples on Map",
                                      "type": "item",
                                      "targetType": "WMap",
                                      "label": "Show All Samples on Map",
                                      "params": {
                                        "endpoint": "sample_markers",
                                        "queryString": "",
                                        "scope": [
                                        ]
                                      }
                                    },
                                    {
                                      "type": "separator"
                                    },
                                    {
                                      "id": "li_vicavContributeSampleText",
                                      "target": "vicavContributeSampleText",
                                      "title": "Contribute a Sample Text",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Contribute a Sample Text"
                                    }
                                  ],
                                  "type": "dropdown"
                                },
                                {
                                  "id": "dropdown05",
                                  "target": "dropdown05",
                                  "title": "Texts",
                                  "item": [
                                    {
                                      "id": "li_vicavExplanationCorpusTexts",
                                      "target": "vicavExplanationCorpusTexts",
                                      "title": "Explanation and Overview",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Corpus Texts (Details)"
                                    }
                                  ],
                                  "type": "dropdown"
                                },
                                {
                                  "id": "dropdown06",
                                  "target": "dropdown06",
                                  "title": "Dictionaries",
                                  "item": [
                                    {
                                      "id": "navDictGeoRegMarkers",
                                      "target": "DictGeoRegMarkers",
                                      "title": "All Dictionaries in Bibl. on Map",
                                      "type": "item",
                                      "targetType": "WMap",
                                      "label": "All Dictionaries in Bibl. on Map",
                                      "params": {
                                        "endpoint": "bibl_markers_tei",
                                        "queryString": "vt:dictionary",
                                        "scope": [
                                          "geo",
                                          "reg"
                                        ]
                                      }
                                    },
                                    {
                                      "id": "navVicavDictMarkers",
                                      "target": "dictFrontPageMarkers",
                                      "title": "All VICAV Dictionaries on Map",
                                      "type": "item",
                                      "targetType": "WMap",
                                      "label": "All VICAV Dictionaries on Map",
                                      "params": {
                                        "endpoint": "dict_markers",
                                        "queryString": "",
                                        "scope": [
                                        ]
                                      }
                                    },
                                    {
                                      "type": "separator"
                                    },
                                    {
                                      "id": "liVicavCrossDictQuery",
                                      "target": "VicavCrossDictQuery",
                                      "title": "Query the VICAV Dictionaries",
                                      "type": "item",
                                      "targetType": "CrossDictQuery",
                                      "label": "Query the VICAV Dictionaries"
                                    },
                                    {
                                      "type": "separator"
                                    },
                                    {
                                      "id": "liVicavDict_Tunis",
                                      "target": "dictFrontPage_Tunis",
                                      "title": "TUNICO Dictionary",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "TUNICO Dictionary"
                                    },
                                    {
                                      "id": "liVicavDict_Damascus",
                                      "target": "dictFrontPage_Damascus",
                                      "title": "Damascus Dictionary",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Damascus Dictionary"
                                    },
                                    {
                                      "id": "liVicavDict_Cairo",
                                      "target": "dictFrontPage_Cairo",
                                      "title": "Cairo Dictionary",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Cairo Dictionary"
                                    },
                                    {
                                      "id": "liVicavDict_Baghdad",
                                      "target": "dictFrontPage_Baghdad",
                                      "title": "Baghdad Dictionary",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Baghdad Dictionary"
                                    },
                                    {
                                      "id": "liVicavDict_MSA",
                                      "target": "dictFrontPage_MSA",
                                      "title": "MSA Dictionary",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "MSA Dictionary"
                                    },
                                    {
                                      "type": "separator"
                                    },
                                    {
                                      "id": "li_vicavDictionariesTechnicalities",
                                      "target": "vicavDictionariesTechnicalities",
                                      "title": "Technicalities",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Dictionaries (Technicalities)"
                                    },
                                    {
                                      "id": "li_vicavContributeDictionary",
                                      "target": "vicavContributeDictionary",
                                      "title": "Contribute a Dictionary\/Glossary",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Contribute a Dictionary"
                                    }
                                  ],
                                  "type": "dropdown"
                                },
                                {
                                  "id": "dropdown07",
                                  "target": "dropdown07",
                                  "title": "Tools & Technology",
                                  "item": [
                                    {
                                      "id": "li_vicavDictionaryEncoding",
                                      "target": "vicavDictionaryEncoding",
                                      "title": "Dictionary Encoding",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Dictionaries (Encoding)"
                                    },
                                    {
                                      "id": "li_vicavVLE",
                                      "target": "vicavVLE",
                                      "title": "Dictionary Editor (VLE)",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Dictionary Editor (VLE)"
                                    },
                                    {
                                      "id": "li_vicavArabicTools",
                                      "target": "vicavArabicTools",
                                      "title": "Arabic Research Tools",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Arabic Tools"
                                    },
                                    {
                                      "id": "li_vicavOverview_corpora_spoken",
                                      "target": "vicavOverview_corpora_spoken",
                                      "title": "      Corpora (Spoken Varieties)",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Corpora of Spoken Arabic"
                                    },
                                    {
                                      "id": "li_vicavOverview_corpora_msa",
                                      "target": "vicavOverview_corpora_msa",
                                      "title": "      Corpora (MSA)",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "MSA Corpora"
                                    },
                                    {
                                      "id": "li_vicavOverview_special_corpora",
                                      "target": "vicavOverview_special_corpora",
                                      "title": "      Special Corpora",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Special Corpora"
                                    },
                                    {
                                      "id": "li_vicavOverview_corpora_historical_varieties",
                                      "target": "vicavOverview_corpora_historical_varieties",
                                      "title": "      Corpora (Historical Varieties)",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Corpora of Historical Language"
                                    },
                                    {
                                      "id": "li_vicavOverview_dictionaries",
                                      "target": "vicavOverview_dictionaries",
                                      "title": "      Dictionaries",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Dictionary Projects"
                                    },
                                    {
                                      "id": "li_vicavOverview_nlp",
                                      "target": "vicavOverview_nlp",
                                      "title": "      Language Processing Tools",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Arabic NLP"
                                    },
                                    {
                                      "id": "li_vicavOverview_otherStuff",
                                      "target": "vicavOverview_otherStuff",
                                      "title": "      Other Websites & Projects",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Other Websites & Projects"
                                    },
                                    {
                                      "id": "li_vicavLearning",
                                      "target": "vicavLearning",
                                      "title": "Learning Materials",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Learning"
                                    },
                                    {
                                      "id": "li_vicavLearning_tb_damascus",
                                      "target": "vicavLearning_tb_damascus",
                                      "title": "      Textbook Syrian Arabic (Sound files)",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "      Textbook Syrian Arabic (Sound files)"
                                    },
                                    {
                                      "id": "li_vicavLearning_tb_baghdad",
                                      "target": "vicavLearning_tb_baghdad",
                                      "title": "      Textbook Baghdad Arabic (Sound files)",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "      Textbook Baghdad Arabic (Sound files)"
                                    },
                                    {
                                      "id": "li_vicavLearningSmartphone",
                                      "target": "vicavLearningSmartphone",
                                      "title": "      Vocabularies on Smartphones",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "VOCABULARIES on Smartphones"
                                    },
                                    {
                                      "id": "li_vicavLearningPrograms",
                                      "target": "vicavLearningPrograms",
                                      "title": "      Available Programs",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Learning Programs"
                                    },
                                    {
                                      "id": "li_vicavLearningData",
                                      "target": "vicavLearningData",
                                      "title": "      Available Data",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Learning Data"
                                    },
                                    {
                                      "id": "li_vicavKeyboards",
                                      "target": "vicavKeyboards",
                                      "title": "Keyboard Layouts",
                                      "type": "item",
                                      "targetType": "Text",
                                      "label": "Keyboards"
                                    }
                                  ],
                                  "type": "dropdown"
                                }
                              ],
                              "subnav": [
                                {
                                  "id": "subNavBiblGeoMarkers",
                                  "target": "BiblGeoMarkers",
                                  "class": "active",
                                  "title": "Bibl. Locations",
                                  "type": "item",
                                  "targetType": "WMap",
                                  "label": "Bibl. Locations",
                                  "params": {
                                    "endpoint": "bibl_markers_tei",
                                    "queryString": ".*",
                                    "scope": [
                                      "geo"
                                    ]
                                  }
                                },
                                {
                                  "id": "subNavBiblRegMarkers",
                                  "target": "BiblRegMarkers",
                                  "title": "Bibl. Regions",
                                  "type": "item",
                                  "targetType": "WMap",
                                  "label": "Bibl. Regions",
                                  "params": {
                                    "endpoint": "bibl_markers_tei",
                                    "queryString": ".*",
                                    "scope": [
                                      "reg"
                                    ]
                                  }
                                },
                                {
                                  "id": "subNavDictGeoRegMarkers",
                                  "target": "DictGeoRegMarkers",
                                  "title": "Bibl. (Dictionaries)",
                                  "type": "item",
                                  "targetType": "WMap",
                                  "label": "Bibl. (Dictionaries)",
                                  "params": {
                                    "endpoint": "bibl_markers_tei",
                                    "queryString": "vt:dictionary",
                                    "scope": [
                                      "geo",
                                      "reg"
                                    ]
                                  }
                                },
                                {
                                  "id": "subNavTextbookGeoRegMarkers",
                                  "target": "TextbookGeoRegMarkers",
                                  "title": "Bibl. (Textbooks)",
                                  "type": "item",
                                  "targetType": "WMap",
                                  "label": "Bibl. (Textbooks)",
                                  "params": {
                                    "endpoint": "bibl_markers_tei",
                                    "queryString": "vt:textbook",
                                    "scope": [
                                      "geo",
                                      "reg"
                                    ]
                                  }
                                },
                                {
                                  "id": "subNavProfilesGeoRegMarkers",
                                  "target": "ProfilesGeoRegMarkers",
                                  "title": "Profiles",
                                  "type": "item",
                                  "targetType": "WMap",
                                  "label": "Profiles",
                                  "params": {
                                    "endpoint": "profile_markers",
                                    "queryString": "",
                                    "scope": [
                                    ]
                                  }
                                },
                                {
                                  "id": "subNavFeaturesGeoRegMarkers",
                                  "target": "FeaturesGeoRegMarkers",
                                  "title": "Features",
                                  "type": "item",
                                  "targetType": "WMap",
                                  "label": "Features",
                                  "params": {
                                    "endpoint": "feature_markers",
                                    "queryString": "",
                                    "scope": [
                                    ]
                                  }
                                },
                                {
                                  "id": "subNavSamplesGeoRegMarkers",
                                  "target": "SamplesGeoRegMarkers",
                                  "title": "Samples",
                                  "type": "item",
                                  "targetType": "WMap",
                                  "label": "Samples",
                                  "params": {
                                    "endpoint": "sample_markers",
                                    "queryString": "",
                                    "scope": [
                                    ]
                                  }
                                },
                                {
                                  "id": "subNavVicavDictMarkers",
                                  "target": "dictFrontPageMarkers",
                                  "title": "VICAV Dictionaries",
                                  "type": "item",
                                  "targetType": "WMap",
                                  "label": "VICAV Dictionaries",
                                  "params": {
                                    "endpoint": "dict_markers",
                                    "queryString": "",
                                    "scope": [
                                    ]
                                  }
                                }
                              ]
                            },
                            "styleSettings": {
                              "colors": {
                                "nav": "#252771",
                                "subNav": "#a85d8f"
                              }
                            },
                            "style": ""
                          }
                        }
                project_config_SHAWI:
                  summary: the SHAWI project configuration
                  value: {
                    "projectConfig": {
                      "title": "SHAWI",
                      "logo": {
                        "string": "shawi"
                      },
                      "icon": "shawi/marker-icon.png",
                      "map": {
                        "zoom": 6,
                        "center": {
                          "lat": 36.25313319699069,
                          "lng": 37.56820810215787
                        }
                      },
                      "param": [],
                      "panel": [],
                      "menu": {
                        "main": [
                          {
                            "id": "dropdown01",
                            "title": "About",
                            "item": [
                              {
                                "id": "shawiAbout",
                                "target": "shawi_about",
                                "title": "About",
                                "type": "item",
                                "targetType": "Text",
                                "label": ""
                              },
                              {
                                "id": "shawiTeam",
                                "target": "shawi_team",
                                "title": "Team",
                                "type": "item",
                                "targetType": "Text",
                                "label": ""
                              },
                              {
                                "id": "shawiNews",
                                "target": "shawi_news",
                                "title": "News",
                                "type": "item",
                                "targetType": "Text",
                                "label": ""
                              }
                            ],
                            "type": "dropdown"
                          },
                          {
                            "id": "dropdown02",
                            "title": "Profiles",
                            "item": [
                              {
                                "id": "liProfilesExplanation",
                                "target": "tunocentExplanationProfiles",
                                "title": "Explanation",
                                "type": "item",
                                "targetType": "Text",
                                "label": ""
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "navProfilesGeoRegMarkers",
                                "title": "Show All Locations",
                                "type": "item",
                                "targetType": "WMap",
                                "label": "",
                                "params": {
                                  "endpoint": "profile_markers",
                                  "queryString": "",
                                  "scope": []
                                }
                              },
                              {
                                "id": "liProfilesList",
                                "title": "List all entries",
                                "type": "item",
                                "targetType": "DataList",
                                "label": ""
                              },
                              {
                                "type": "separator"
                              },
                              {
                                "id": "liVicavContributeProfile",
                                "title": "Contribute a Profile",
                                "type": "item",
                                "targetType": "UnknownTypeWarning",
                                "label": ""
                              }
                            ],
                            "type": "dropdown"
                          },
                          {
                            "id": "dropdown04",
                            "title": "Corpus",
                            "item": [
                              {
                                "id": "liSamplesList",
                                "title": "List all entries",
                                "type": "item",
                                "targetType": "DataList",
                                "label": ""
                              },
                              {
                                "id": "corpusQuery",
                                "title": "Search the corpus",
                                "type": "item",
                                "targetType": "CorpusQuery",
                                "label": ""
                              },
                              {
                                "id": "corpusText",
                                "title": "Read corpus texts",
                                "type": "item",
                                "targetType": "CorpusText",
                                "label": ""
                              }
                            ],
                            "type": "dropdown"
                          }
                        ],
                        "subnav": [
                          {
                            "id": "subNavProfilesGeoRegMarkers",
                            "title": "Profiles",
                            "type": "item",
                            "targetType": "WMap",
                            "label": "",
                            "params": {
                              "endpoint": "profile_markers",
                              "queryString": "",
                              "scope": []
                            }
                          },
                          {
                            "id": "subNavFeaturesGeoRegMarkers",
                            "title": "Features",
                            "type": "item",
                            "targetType": "WMap",
                            "label": "",
                            "params": {
                              "endpoint": "feature_markers",
                              "queryString": "",
                              "scope": []
                            }
                          },
                          {
                            "id": "subNavSamplesGeoRegMarkers",
                            "title": "Samples",
                            "type": "item",
                            "targetType": "WMap",
                            "label": "",
                            "params": {
                              "endpoint": "sample_markers",
                              "queryString": "",
                              "scope": []
                            }
                          }
                        ]
                      },
                      "styleSettings": {
                        "colors": {
                          "nav": "#7C633F",
                          "subNav": "#FFA500",
                          "primary": "hsla(35, 33%, 37%, 1)",
                          "secondary": "hsla(39, 100%, 50%, 1)"
                        }
                      },
                      "noskeHost": "https://shawi-noske.acdh-dev.oeaw.ac.at",
                      "style": "\n.navbar, .main-footer {\n\tbackground-color: #7C633F;\n}\n.sub-nav, .panel-chrome, .footer-imprint-bar {\n\tbackground-color: #FFA500;\n}\n\n.main-footer a {\n\tcolor: gold;\n}\n\na.navbar-brand {\n\tfont-size: 2.5em;\n\tfont-family: Times, serif;\n\tfont-style: italic;\n\tline-height: 1;\n\tmargin-top: -10px;\n}\n\nbody .navbar ul.navbar-nav {\n\tborder-left: none;\n}\n\n.h3Profile {\n\tborder-bottom: #7C633F;\n}\n\nh3::after, h4::after {\n\tborder-top: solid 4px #7C633F;\n}\n\n.tdFeaturesHead, .tdFeaturesHeadRight, .tdHead, .aVicText:hover, .aTEIButton:hover, .dropdown-item:active, .dvStats {\n\tbackground: #7C633F;\n}\n\n.dvAuthor {\n\tborder-top: 0.5px dotted #7C633F;\n}\n\n.tdFeaturesLeft, .tdProfileTableRight, .aVicText, .aTEIButton {\n\tcolor: #7C633F !important;\n}\n\n.tdFeaturesHead, .tdFeaturesHeadRight, .tdFeaturesRightSource, .tdFeaturesLeft, .tdFeaturesRightTarget, .dvStats {\n\tborder: solid 1px #7C633F;\n}\n\n.tdFeaturesRightTarget {\n\tfont-style: inherit;\n}\n\n.tdProfileTableRight {\n\tborder-bottom: solid 1px #7C633F;\n}\n\n.aTEIButton {\n\tborder: solid 1px #7C633F;\n}\n\na:hover { color: #7C633F }\n\n.word-search [data-toggle=\"tooltip\"] {\n    background-color: rgba(255,255,0,0.3);\t\n}\n\n[data-toggle = \"tooltip\"].sample-text-variant {\n    background-color: #FFA500;\n    color: white;\n    padding: 0 2px;\n}\n\n.aligncenter {\n\tmargin: 0 auto;\n\ttext-align: center;\n}\n.alignright {\n    float: right;\n}\n.alignleft {\n    float: left;\n}\n.has-background-dim {\n    background-color: #eee;\n    display: flex;\n}\nwp-block-image {\n    max-width: 100%;\n    margin-bottom: 1em;\n    margin-left: 0;\n    margin-right: 0;\n\n}\n.wp-block-cover {\n    position: relative;\n    min-height: 430px;\n    width: 100%;\n    margin: 0 0 1.5em;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    overflow: hidden;\n}\n.wp-block-cover.has-background-dim::before {\n    content: \"\";\n    position: absolute;\n    top: 0;\n    left: 0;\n    bottom: 0;\n    right: 0;\n    background-color: inherit;\n    opacity: .5;\n    z-index: 1;\n}\n\n.wp-block-cover .wp-block-cover__inner-container {\n    width: calc(100% - 70px);\n    z-index: 1;\n    color: #f8f9f9;\n}\n.wp-block-columns { display: flex; }\n\n.has-2-columns .wp-block-column { flex-basis: 50% }\n\nfigure, img {\n    height: auto;\n}\n\n\t"
                    }
                  }
            application/xml:
              schema:
                type: string
                xml:
                  name: project
                  wrapped: false
              examples:
                project_config_XML_and_rendered_XHTML:
                  summary: the project configuration
                  value: >
                    <project>
                      <config>
                        <projectConfig xml:space="preserve" id="vicav_config_vicav">
                      <title>VICAV3.0 - Vienna Corpus of Arabic Varieties</title>
                      <logo><img src="images/vicav_logo.svg"/></logo>
                      <frontpage method="geo">
                        <param>.*</param>
                        <param>geo</param>
                        <panel type="text" target="li_vicavMission">MISSION</panel>
                        <panel type="text" target="li_vicavNews">NEWS</panel>
                      </frontpage>
                      <menu>
                        <main>
                          <dropdown xml:id="dropdown00" title="Project">
                            <item xml:id="li_vicavMission">Mission</item>
                            <item xml:id="li_vicavNews">News</item>
                            <separator/>
                            <item xml:id="li_vicavTypesOfText">Types of Text/Data</item>
                            <item xml:id="li_vicavContributors">Contributors</item>
                            <item xml:id="li_vicavLinguistics">Linguistics</item>
                          </dropdown>
                        </main>
                        <subnav>
                          <item xml:id="subNavBiblGeoMarkers" class="active">Bibl. Locations</item>
                        </subnav>
                      </menu>
                    </projectConfig>
                      </config>
                      <renderedMenu>
                        <menu xmlns="http://www.w3.org/1999/xhtml">
                          <main>
                            <ul class="navbar-nav mr-auto">
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown00">Project</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown00">
                                  <a class="dropdown-item" id="li_vicavMission">Mission</a>
                                  <a class="dropdown-item" id="li_vicavNews">News</a>
                                  <div class="dropdown-divider"/>
                                  <a class="dropdown-item" id="li_vicavTypesOfText">Types of Text/Data</a>
                                  <a class="dropdown-item" id="li_vicavContributors">Contributors</a>
                                  <a class="dropdown-item" id="li_vicavLinguistics">Linguistics</a>
                                </div>
                              </li>
                            </ul>
                          </main>
                          <subnav xmlns="">
                            <span xmlns="http://www.w3.org/1999/xhtml" xml:space="preserve" id="subNavBiblGeoMarkers"><i class="fa fa-map" aria-hidden="true"/> Bibl. Locations</span>
                          </subnav>
                        </menu>
                      </renderedMenu>
                    </project>
    put:
      tags:
        - noauth
      summary: creates a cache with for the JSON returned for projectConfig
      description: '-'
      operationId: createProjectConfigCache
      responses:
        '200':
          description: the cached JSON
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectConfig'
            application/xml: {}
  /vicav/text:
    get:
      tags:
        - noauth
      summary: gets a description text identtified by its tei:div@xml:id
      operationId: getText
      description: |
        By passing the appropriate xml-ID and xslt you can retrieve ready to display html
      parameters:
        - in: query
          name: id
          description: the @xml:id of the tei:div xml element
          required: true
          schema:
            type: string
        - in: query
          name: xslt
          required: false
          description: the filename of the xslt transformation (for development purposes only)
          schema:
            type: string
      responses:
        '200':
          description: the transformed html
          content:
            application/xml:
              schema:
                type: string
                xml:
                  name: div
                  wrapped: false
              examples:
                html:
                  summary: A sample HTML response
                  value: >
                    <div xmlns:tei="http://www.tei-c.org/ns/1.0">

                    <table class="tbHeader">
                    <tr>
                    <td>
                    <h2>Sample Texts (Explanation)</h2>
                    </td>
                    <td>{teiLink}</td>
                    </tr>
                    </table>


                    <p>The sample texts are translations of the same
                    <a class="aVicText" href="javascript:getDBSnippet(&#34;sample:msa_sample_01/Modern Standard Arabic&#34;, this)">source text</a>. They vary slightly with respect to regional
                    differences. However, they are homogeneous enough to allow students to
                    compare the numerous linguistic phenomena displayed in the texts.</p>


                    <p>Sofar we provide sample texts for six locations:
                    <ul>

                    <li>
                    <a class="aVicText" href="javascript:getDBSnippet(&#34;sample:baghdad_sample_01/Baghdad&#34;, this)">Baghdad</a>
                    </li>

                    <li>
                    <a class="aVicText" href="javascript:getDBSnippet(&#34;sample:cairo_sample_01/Cairo&#34;, this)">Cairo</a>
                    </li>

                    <li>
                    <a class="aVicText" href="javascript:getDBSnippet(&#34;sample:damascus_sample_01/Damascus&#34;, this)">Damascus</a>
                    </li>

                    <li>
                    <a class="aVicText" href="javascript:getDBSnippet(&#34;sample:douz_sample_01/Douz&#34;, this)">Douz</a>
                    </li>

                    <li>
                    <a class="aVicText" href="javascript:getDBSnippet(&#34;sample:urfa_sample_01/%C5%9Eanl%C4%B1urfa&#34;, this)">Şanlıurfa</a>
                    </li>

                    <li>
                    <a class="aVicText" href="javascript:getDBSnippet(&#34;sample:tunis_sample_01/Tunis&#34;, this)">Tunis</a>
                    </li>
                    </ul>
                    </p>
                    </div>
        '500':
          description: bad input parameter
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'
  /vicav/sample:
    get:
      tags:
        - noauth
      summary: gets a linguistic sample text identtified by its tei:div@xml:id
      operationId: getSampleText
      description: |
        By passing the appropriate xml-ID and xslt you can retrieve ready to display html
      parameters:
        - in: query
          name: id
          description: the @xml:id of the tei:div xml element
          required: true
          schema:
            type: string
        - in: query
          name: xslt
          required: false
          description: the filename of the xslt transformation (for development purposes only)
          schema:
            type: string
      responses:
        '200':
          description: the transformed html
          content:
            application/xml:
              schema:
                type: string
                xml:
                  name: div
                  wrapped: false
              examples:
                html:
                  summary: A sample HTML response
                  value: >
                    <?xml version="1.0" encoding="UTF-8"?>
                    <div xmlns="http://www.w3.org/1999/xhtml" xmlns:tei="http://www.tei-c.org/ns/1.0">
                        <table class="tbHeader">
                            <tr>
                                <td>
                                    <h2>A sample of Ain Soltane Arabic</h2>
                                </td>
                                <td class="tdTeiLink">{teiLink}</td>
                                <td class="tdPrintLink">
                                    <a href="#" data-print="true" class="aTEIButton" data-sampletext="vicav_sample_ainsoltane_02">Print</a>
                                </td>
                            </tr>
                        </table>
                        <p xml:space="preserve">
                            By 
                            <i>Sarah B (revision: 2020-09-11)</i>
                        </p>
                        <ul id="informants">
                            <li xml:space="preserve">
                                Informant ID: 

                                <i>AinSoltane1</i>
                                , Sex: 
                                <i>m</i>
                                , Age: 
                                <i>50</i>
                            </li>
                        </ul>
                        <span class="spSentence" xml:space="preserve">
                            <span class="sample-text-tooltip" data-html="true" data-toggle="tooltip" data-placement="top" title=" يوم الاثنين بعد الفجر ذهبتُ إلى السوق لأشتري بيضا وخضروات مثل الباذنجان والثوم">
                                <i class="fa fa-commenting-o" aria-hidden="true">
                                    <span/>
                                </i>
                            </span>
                            <a class="word-search" href="#" data-wordform="nhāṛ" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">nhāṛ</span>
                            </a>
                            <a class="word-search" href="#" data-wordform="l" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">l</span>
                            </a>
                            <span class="pc">-</span>
                            <a class="word-search" href="#" data-wordform="iṯnīn" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">iṯnīn</span>
                            </a>
                            <a class="word-search" href="#" data-wordform="baʕd" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">baʕd</span>
                            </a>
                            <a class="word-search" href="#" data-wordform="il" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">il</span>
                            </a>
                            <span class="pc">-</span>
                            <a class="word-search" href="#" data-wordform="fažⁱr" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">fažⁱr</span>
                            </a>
                            <a class="word-search" href="#" data-wordform="ⁱmšīt" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">ⁱmšīt</span>
                            </a>
                            <a class="word-search" href="#" data-wordform="l" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">l</span>
                            </a>
                            <span class="pc">-</span>
                            <a class="word-search" href="#" data-wordform="is" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">is</span>
                            </a>
                            <span class="pc">-</span>
                            <a class="word-search" href="#" data-wordform="sūg" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">sūg</span>
                            </a>
                            <a class="word-search" href="#" data-wordform="nišri" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">nišri</span>
                            </a>
                            <a class="word-search" href="#" data-wordform="ʕḏ̣amm" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">ʕḏ̣amm</span>
                            </a>
                            <a class="word-search" href="#" data-wordform="w" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">w</span>
                            </a>
                            <span class="pc">-</span>
                            <a class="word-search" href="#" data-wordform="xuḏ̣ṛa" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">xuḏ̣ṛa</span>
                            </a>
                            <a class="word-search" href="#" data-wordform="w" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">w</span>
                            </a>
                            <span class="pc">-</span>
                            <a class="word-search" href="#" data-wordform="iṯ" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">iṯ</span>
                            </a>
                            <span class="pc">-</span>
                            <a class="word-search" href="#" data-wordform="ṯūm" data-type="sample">
                                <span data-html="true" data-placement="top" class="w">ṯūm</span>
                            </a>
                            <span class="pc">. </span>
                        </span>
                    </div>

        '500':
          description: bad input parameter
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'
  /vicav/profile:
    get:
      tags:
        - noauth
      summary: gets a langauge profile identified by its TEI@xml:id
      operationId: getProfile
      description: |
        By passing the appropriate xml-ID and xslt you can retrieve ready to display html
      parameters:
        - in: query
          name: id
          description: the @xml:id of the TEI xml element
          required: true
          schema:
            type: string
        - in: query
          name: coll
          description: the id of the collection/database to use (for development purposes only)
          required: false
          schema:
            type: string
        - in: query
          name: xslt
          required: false
          description: the filename of the xslt transformation (for development purposes only)
          schema:
            type: string
      responses:
        '200':
          description: the transformed html
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: >
                    <div xmlns="http://www.w3.org/1999/xhtml" xmlns:tei="http://www.tei-c.org/ns/1.0">
                    <table class="tbHeader">
                    <tr>
                    <td>
                    <h2>Skoura</h2>
                    </td>
                    <td class="tdTeiLink">{teiLink}</td>
                    </tr>
                    </table>
                    <div class="profileHeader">
                    <div class="dvImgProfile"><img src="images/skoura_sp_2012.jpg"><div class="imgCaption">Courtesy of Stephan Procházka, 2012</div>
                    </div>
                    <table class="tbProfile">
                    <tr>
                    <td class="tdHead">MSA Name</td>
                    <td class="tdProfileTableRight">سكورة</td>
                    </tr>
                    <tr>
                    <td class="tdHead">MSA Name (trans.)</td>
                    <td class="tdProfileTableRight">Sakūra Skūra</td>
                    </tr>
                    <tr>
                    <td class="tdHead">Geo location</td>
                    <td class="tdProfileTableRight"><i>
                    31°03'N 06°33'W
                    Morocco
                    </i></td>
                    </tr>
                    <tr>
                    <td class="tdHead">Contributed by</td>
                    <td class="tdProfileTableRight"><i>Aleksandra Ercegovčević</i></td>
                    </tr>
                    </table>
                    </div>
                    <div class="h3ProfileTypology">Typology</div>
                    <table class="tbProfile">
                    <tr>
                    <td colspan="2" class="tdProfileTableRight">West (Maghreb) › Morocco › Central type</td>
                    </tr>
                    <tr>
                    <td colspan="2" class="tdProfileTableRight">Hilalian-type sedentary rural dialect with strong influence of Berber</td>
                    </tr>
                    </table>
                    <div class="h3Profile">General</div>

                    <div class="pNorm">Skūra is an Arabic enclave in the Berber-speaking area south of the High Atlas. Many
                    of the 15,000 inhabitants are bilingual. They live mainly on agriculture and stock
                    breeding.</div>

                    <div class="h3Profile">Research History</div>

                    <div class="pNorm">All available data on the dialect of Skūra is from the work of Jorge Aguadé and Mohammad
                    Elyaâcoubi. <a class="aVicText" href="javascript:getDBSnippet(&#34;zotid:8SISG2GK&#34;)">Aguadé 1994</a> is a brief study on the formation of the reflexive-passive forms of the verb. <a class="aVicText" href="javascript:getDBSnippet(&#34;zotid:E3T3HBCD&#34;)">Aguadé and Elyaacoubi 1995</a> is a monograph on the dialect with chapters on phonology, nominal and verbal morphology,
                    and verb paradigms. <a class="aVicText" href="javascript:getDBSnippet(&#34;zotid:I3FIKENT&#34;)">Aguadé et al. 1996</a> deals with the irrigation system in the oasis of Skūra, and the technical terminology
                    concerning irrigation in the dialect of Skūra. Elyaâcoubi 1998 treats the topic of
                    the classification of south Moroccan Arabic dialects on the example of Skūra, where
                    a three page-grammatical sketch of the dialect is also provided.</div>

                    <div class="h3Profile">Dictionaries</div>

                    <div class="pNorm"><a class="aVicText" href="javascript:getDBSnippet(&#34;zotid:I3FIKENT&#34;)">Aguadé et al. 1996</a> includes a 2-page glossary of terminology related to the irrigation system (<i>xiṭṭāra</i>).</div>

                    <div class="h3Profile">Bibliography</div>

                    <div class="pNorm">To view publications on this variety click <a class="aVicText" href="javascript:getDBSnippet(&#34;bibl:geo:Skoura&#34;)">here</a>.</div>
                    <br><br><br></div>
        '500':
          description: bad input parameter
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'
  /vicav/ling_feature:
    get:
      operationId: getLingFeature
      summary: Get a standardized text showing lingusitic features of a variety
      parameters:
        - schema:
            type: string
            nullable: true
          in: query
          example: ling_features_baghdad
          name: id
          required: false
      responses:
        '200':
          content:
            application/xml:
              schema:
                nullable: true
                type: string
                xml: div
              examples:
                html:
                  summary: A sample HTML response
                  value: >
                    <div
                      xmlns="http://www.w3.org/1999/xhtml">
                      <div>
                        <h2>A List of Linguistic Features of Baghdad Arabic</h2>
                        <p xml:space="preserve">By 
                          <i>Stephan Procházka (revision: 2022-06-23)</i>
                        </p>
                        <ul id="informants">
                          <li xml:space="preserve">Informant ID: 
                            <i>Baghdad1</i>, Sex: 
                            <i/>, Age: 
                            <i/>
                          </li>
                        </ul>
                        <table class="tbFeatures">
                          <tr>
                            <td colspan="2" class="tdFeaturesHead">Interrogatives</td>
                          </tr>
                          <tr>
                            <td class="tdFeaturesLeft" rowspan="3">who?</td>
                            <td class="tdFeaturesCom">Most commonly dialects show reflexes of CA 
                              <i>man</i>.
                            </td>
                          </tr>
                          <tr>
                            <td class="tdFeaturesRightSource">Who is this man? – He is my friend</td>
                          </tr>
                          <tr>
                            <td class="tdFeaturesRightTarget">
                              <a class="word-search" href="#" data-wordform="mǝnu" data-type="feature">
                                <span data-html="true" data-placement="top" class="w highlight">mǝnu</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="hāḏa" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">hāḏa</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="r" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">r</span>
                              </a>
                              <span class="pc"> -</span>
                              <a class="word-search" href="#" data-wordform="rǝǧǧāl" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">rǝǧǧāl</span>
                              </a>
                              <span class="pc"> ?</span>
                              <a class="word-search" href="#" data-wordform="–" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">–</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="huwwa" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">huwwa</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="ṣadīq" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">ṣadīq</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="i" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">i</span>
                              </a>
                              <span class="pc">.</span>
                            </td>
                          </tr>
                          <tr>
                            <td class="tdFeaturesLeft" rowspan="2">whose?</td>
                            <td class="tdFeaturesRightSource">Whose car is this? – This is our car. It’s small but it’s
                                         good.</td>
                          </tr>
                          <tr>
                            <td class="tdFeaturesRightTarget">
                              <a class="word-search" href="#" data-wordform="hāḏi" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">hāḏi</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="siyyārat" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">siyyārat</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="mǝnu" data-type="feature">
                                <span data-html="true" data-placement="top" class="w highlight">mǝnu</span>
                              </a>
                              <span class="pc"> ?</span>
                              <a class="word-search" href="#" data-wordform="–" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">–</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="hāḏi" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">hāḏi</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="siyyāratna" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">siyyāratna</span>
                              </a>
                              <span class="pc"> ,</span>
                              <a class="word-search" href="#" data-wordform="hiyya" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">hiyya</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="ṣġayyra" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">ṣġayyra</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="bass" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">bass</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="zēna" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">zēna</span>
                              </a>
                              <span class="pc">.</span>
                            </td>
                          </tr>
                          <tr>
                            <td class="tdFeaturesLeft" rowspan="2">what?</td>
                            <td class="tdFeaturesRightSource">Fatima, what are you doing now? – I’m watching TV.</td>
                          </tr>
                          <tr>
                            <td class="tdFeaturesRightTarget">
                              <a class="word-search" href="#" data-wordform="Fāṭma" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">Fāṭma</span>
                              </a>
                              <span class="pc"> ,</span>
                              <a class="word-search" href="#" data-wordform="ǝš" data-type="feature">
                                <span data-html="true" data-placement="top" class="w highlight">ǝš</span>
                              </a>
                              <span class="pc"> -</span>
                              <a class="word-search" href="#" data-wordform="da" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">da</span>
                              </a>
                              <span class="pc"> -</span>
                              <a class="word-search" href="#" data-wordform="ssawwīn" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">ssawwīn</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="hassa" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">hassa</span>
                              </a>
                              <span class="pc"> ?</span>
                              <a class="word-search" href="#" data-wordform="–" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">–</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="ʔašūf" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">ʔašūf</span>
                              </a>
                              <a class="word-search" href="#" data-wordform="ǝt" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">ǝt</span>
                              </a>
                              <span class="pc"> -</span>
                              <a class="word-search" href="#" data-wordform="talfizyōn" data-type="feature">
                                <span data-html="true" data-placement="top" class="w">talfizyōn</span>
                              </a>
                              <span class="pc">.</span>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
          description: ''
      tags:
        - noauth
      description: no further description
  /vicav/explore_samples:
    get:
      tags:
        - noauth
      summary: Search sample texts or feature lists by keyword or meatadata and return a rendered list of matching sentences.
      operationId: getExploreSamples
      description: |
        By passing the appropriate xml-ID and xslt you can retrieve ready to display html
      parameters:
        - in: query
          name: type
          description: collection to query eg. vicav_lingfeatures
          required: true
          schema:
            type: string
        - in: query
          name: word
          description: the word to search for
          required: false
          schema:
            type: string
        - in: query
          name: person
          description: search by speaker
          required: false
          schema:
            type: false

        - in: query
          name: features
          description: only search specific features
          required: false
          schema:
            type: false
        - in: query
          name: comment
          description: search in comment
          required: false
          schema:
            type: false
        - in: query
          name: translation
          description: only search specific features
          required: false
          schema:
            type: false 

        - in: query
          name: xslt
          required: false
          description: the filename of the xslt transformation (for development purposes only)
          schema:
            type: string
      responses:
        '200':
          description: the transformed html
          content:
            application/xml:
              schema:
                type: string
                xml:
                  name: div
                  wrapped: false
              examples:
                html:
                  summary: A sample HTML response
                  value: '<div xmlns="http://www.w3.org/1999/xhtml" xmlns:tei="http://www.tei-c.org/ns/1.0"><div class="explore-samples"><table class="tbHeader"><tr><td><h2 xml:space="preserve">Compare samples</h2></td><td class="tdPrintLink"><a href="#" data-print="true" class="aTEIButton">Print</a></td></tr></table><div class="explore-samples-summary"><h4>Summary</h4><table><tr><th>unknown</th><td>1</td></tr></table></div><h3>3</h3><h4>unknown</h4><p xml:space="preserve">1 sentences found.</p><table class="tbFeatures"><tr><td class="tdFeaturesHeadRight"><small xml:space="preserve">%as</small></td><td class="tdFeaturesRightTarget"><a class="show-sentence" title="Show full sample text" href="#" data-sampletext="douz_sample_01"><i class="fa fa-eye" aria-hidden="true"><span/></i></a><span xmlns:acdh="http://acdh.oeaw.ac.at" class="spSentence" xml:space="preserve"><span class="sample-text-tooltip" data-html="true" data-toggle="tooltip" data-placement="top" title="Tomaten nahm ich keine, weil sie sehr teuer&#xA;                     waren."><i class="fa fa-commenting-o" aria-hidden="true"><span/></i></span> <a class="word-search" href="#" data-wordform="mā" data-type="sample"><span data-html="true" data-placement="top" class="w">mā</span></a><a class="word-search" href="#" data-wordform="-" data-type="sample"><span data-html="true" data-placement="top" class="w">-</span></a><a class="word-search" href="#" data-wordform="šrīt" data-type="sample"><span data-html="true" data-placement="top" class="w highlight">šrīt</span></a><a class="word-search" href="#" data-wordform="-" data-type="sample"><span data-html="true" data-placement="top" class="w">-</span></a><a class="word-search" href="#" data-wordform="ǝš" data-type="sample"><span data-html="true" data-placement="top" class="w">ǝš</span></a> <a class="word-search" href="#" data-wordform="iṭ" data-type="sample"><span data-html="true" data-placement="top" class="w">iṭ</span></a><a class="word-search" href="#" data-wordform="-" data-type="sample"><span data-html="true" data-placement="top" class="w">-</span></a><a class="word-search" href="#" data-wordform="ṭamāṭim" data-type="sample"><span data-html="true" data-placement="top" class="w">ṭamāṭim</span></a> <a class="word-search" href="#" data-wordform="ʿal" data-type="sample"><span data-html="true" data-placement="top" class="w">ʿal</span></a><a class="word-search" href="#" data-wordform="-" data-type="sample"><span data-html="true" data-placement="top" class="w">-</span></a><a class="word-search" href="#" data-wordform="xāṭir" data-type="sample"><span data-html="true" data-placement="top" class="w">xāṭir</span></a> <a class="word-search" href="#" data-wordform="kānat" data-type="sample"><span data-html="true" data-placement="top" class="w">kānat</span></a> <a class="word-search" href="#" data-wordform="ġālya" data-type="sample"><span data-html="true" data-placement="top" class="w">ġālya</span></a><a class="word-search" href="#" data-wordform="." data-type="sample"><span data-html="true" data-placement="top" class="w">.</span></a> </span></td></tr></table></div></div>'
        '500':
          description: bad input parameter
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'
                  
  /vicav/compare:
    get:
      tags:
        - noauth
      summary: Search sample texts or feature lists by keyword or meatadata and return a rendered list of matching sentences.
      operationId: getCompare
      description: |
        By passing the appropriate xml-ID and xslt you can retrieve ready to display html
      parameters:
        - in: query
          name: type
          description: collection to query eg. lingfeatures
          required: true
          schema:
            type: string
        - in: query
          name: word
          description: the word to search for
          required: false
          schema:
            type: string
        - in: query
          name: ids
          description: search by document ids
          required: true
          schema:
            type: string

        - in: query
          name: features
          description: only search specific features
          required: false
          schema:
            type: string
        - in: query
          name: comment
          description: search in comment
          required: false
          schema:
            type: string
        - in: query
          name: translation
          description: only search specific features
          required: false
          schema:
            type: string 
        - in: query
          name: page
          description: only search specific features
          required: false
          schema:
            type: string
        - in: query
          name: print
          description: only search specific features
          required: false
          schema:
            type: string 
      responses:
        '200':
          description: the transformed html
          content:
            application/xml:
              schema:
                type: string
                xml:
                  name: div
                  wrapped: false
              examples:
                html:
                  summary: A sample HTML response
                  value: '<div xmlns="http://www.w3.org/1999/xhtml" xmlns:tei="http://www.tei-c.org/ns/1.0"><div class="explore-samples"><table class="tbHeader"><tr><td><h2 xml:space="preserve">Compare samples</h2></td><td class="tdPrintLink"><a href="#" data-print="true" class="aTEIButton">Print</a></td></tr></table><div class="explore-samples-summary"><h4>Summary</h4><table><tr><th>unknown</th><td>1</td></tr></table></div><h3>3</h3><h4>unknown</h4><p xml:space="preserve">1 sentences found.</p><table class="tbFeatures"><tr><td class="tdFeaturesHeadRight"><small xml:space="preserve">%as</small></td><td class="tdFeaturesRightTarget"><a class="show-sentence" title="Show full sample text" href="#" data-sampletext="douz_sample_01"><i class="fa fa-eye" aria-hidden="true"><span/></i></a><span xmlns:acdh="http://acdh.oeaw.ac.at" class="spSentence" xml:space="preserve"><span class="sample-text-tooltip" data-html="true" data-toggle="tooltip" data-placement="top" title="Tomaten nahm ich keine, weil sie sehr teuer&#xA;                     waren."><i class="fa fa-commenting-o" aria-hidden="true"><span/></i></span> <a class="word-search" href="#" data-wordform="mā" data-type="sample"><span data-html="true" data-placement="top" class="w">mā</span></a><a class="word-search" href="#" data-wordform="-" data-type="sample"><span data-html="true" data-placement="top" class="w">-</span></a><a class="word-search" href="#" data-wordform="šrīt" data-type="sample"><span data-html="true" data-placement="top" class="w highlight">šrīt</span></a><a class="word-search" href="#" data-wordform="-" data-type="sample"><span data-html="true" data-placement="top" class="w">-</span></a><a class="word-search" href="#" data-wordform="ǝš" data-type="sample"><span data-html="true" data-placement="top" class="w">ǝš</span></a> <a class="word-search" href="#" data-wordform="iṭ" data-type="sample"><span data-html="true" data-placement="top" class="w">iṭ</span></a><a class="word-search" href="#" data-wordform="-" data-type="sample"><span data-html="true" data-placement="top" class="w">-</span></a><a class="word-search" href="#" data-wordform="ṭamāṭim" data-type="sample"><span data-html="true" data-placement="top" class="w">ṭamāṭim</span></a> <a class="word-search" href="#" data-wordform="ʿal" data-type="sample"><span data-html="true" data-placement="top" class="w">ʿal</span></a><a class="word-search" href="#" data-wordform="-" data-type="sample"><span data-html="true" data-placement="top" class="w">-</span></a><a class="word-search" href="#" data-wordform="xāṭir" data-type="sample"><span data-html="true" data-placement="top" class="w">xāṭir</span></a> <a class="word-search" href="#" data-wordform="kānat" data-type="sample"><span data-html="true" data-placement="top" class="w">kānat</span></a> <a class="word-search" href="#" data-wordform="ġālya" data-type="sample"><span data-html="true" data-placement="top" class="w">ġālya</span></a><a class="word-search" href="#" data-wordform="." data-type="sample"><span data-html="true" data-placement="top" class="w">.</span></a> </span></td></tr></table></div></div>'
        '500':
          description: bad input parameter
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'
                  
  /vicav/compare_markers:
    get:
      tags:
        - noauth
      summary: Search sample texts or feature lists by keyword or meatadata and return a rendered list of matching sentences.
      operationId: getCompareMarkers
      description: |
        By passing the appropriate xml-ID and xslt you can retrieve ready to display html
      parameters:
        - in: query
          name: type
          description: collection to query eg. lingfeatures
          required: true
          schema:
            type: string
        - in: query
          name: word
          description: the word to search for
          required: false
          schema:
            type: string
        - in: query
          name: ids
          description: search by document ids
          required: true
          schema:
            type: string
        - in: query
          name: features
          description: only search specific features
          required: false
          schema:
            type: string
        - in: query
          name: comment
          description: search in comment
          required: false
          schema:
            type: string
        - in: query
          name: translation
          description: only search specific features
          required: false
          schema:
            type: string 
      responses:
        '200':
          description: coordinates and names for displaying markers on a map
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feature'
              examples:
                geoJSON_features_Ma_geo_reg:
                  summary: 'These endpoints always show respond with all the data'
                  value: []
            application/xml:
              schema:
                type: string
                xml:
                  name: rs
                  wrapped: false
                items:
                  type: object
              examples:
                xml:
                  summary: A list of geo markers
                  value: >
                    <rs></rs>
        '404':
          description: not found
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'
        '500':
          description: bad input parameter
          content:
            application/xml:
              schema:
                type: string
              examples:
                html:
                  summary: A sample HTML response
                  value: '<html><body><ul><li>item 1</li><li>item 2</li></ul></body></html>'

  /vicav/feature_labels:
    get:
      operationId: getFeatureLabels
      summary: Feature labels and values.
      description: A simple list of supported feature codes alog with their human-readable labels
      tags:
       - noauth
      responses:
        '200': 
           description: Succesful reasult JSON
           content:
             application/xml:
               schema:
                 type: string
             application/json:
               schema: 
                 $ref: "#/components/schemas/SearchTags"
  /vicav/data_words:
    get:
      operationId: getDataWords
      summary: Get all distinct words in a given corpus.
      description: A simple list of all distinct words in a database to be used as tag options in search form.
      tags:
       - noauth
      parameters:
        - in: query
          name: type
          required: false
          description: Database name not including vicav_ prefix
          schema:
            type: string
      responses:
        '200': 
           description: Succesful result
           content:
             application/xml:
               schema:
                 type: string
             application/json:
               schema: 
                 type: array
                 items: 
                   type: string
  
  /vicav/biblio_tei:
    get:
      tags:
        - noauth
      summary: gets a specific html transformed via a specified xslt
      operationId: getBiblioTei
      description: |
        By passing a well formed query and xslt you can retrieve ready to display html
      parameters:
        - in: query
          name: query
          description: the query
          required: true
          schema:
            type: string
        - in: query
          name: xslt
          required: false
          description: the filename of the xslt transformation (for development purposes only)
          schema:
            type: string
      responses:
        '200':
          description: the transformed html
          content:
[...]
